[2018-03-29 04:27] Goodkorning opened #66 "3초 후 시작"
게임 시작 후 3초 뒤에 시작하도록 만들기

[2018-03-29 04:27] jil8885 opened #67 "온라인 랭킹 구현"
죽을 때 당시의 점수와 함께 이름을 입력 받아 하나의 서버에 저장하여 나중에 온라인 랭킹 메뉴를 만들기

[2018-03-29 04:28] dudu0166 opened #68 "#아이템 구현"
미사일을 강화해주는 아이템을 구현

[2018-03-29 04:28] kyj0701 opened #69 "적 유닛들이 죽을 때 터지는 사운드 이펙트"
- [x] 적 유닛들을 죽이면 터지는 이펙트를 추가한다.

- [x] 적 유닛들을 죽이면 터지는 사운드를 추가한다.

[2018-03-29 04:29] ksccmp opened #70 "게임 속도 조절"
* 게임시작 전에 게임의 빠르기를 조절하면 그 속도에 맞춰서 게임이 진행되게 하기

[2018-03-29 04:29] 0-taku opened #71 "스테이지 모드 개발하기"
서바이벌 모드가 아닌 스테이지 모드도 개발하기.

[2018-03-29 04:30] wkd2314 opened #72 "일시정지 기능추가"
키보드 "R"키를 누르면 일시정지 되는 기능을 추가

[2018-03-29 04:30] xodh opened #73 "pause 만들기 (일시정지)"
게임 도중 자리를 비울 상황이 생길 경우를 대비하여 일시정지 기능을 만들자.

[2018-03-29 04:31] TideProphet opened #74 "게임 강제 종료 현상 해결"
Galtron에 등장하는 외계인들은 점점아래로 내려옵니다.
이 외계인을 잡지 않고 총알만 회피하면서 외계인이 화면하단까지 닿기를 기다릴 경우 외계인이 하단에 닿는 순간 게임이 강제 종료됩니다.
 게임오버로 처리하거나 외계인이 다시 위로 올라가도록 하여 이를 해결해야 합니다.
 | |
 | |
| |
| |
#Edited
종료현상은 플레이어 기체의 모델과 외계인 기체가 일정이상 가까워 졌을때 모델링이 겹치면서 일어나는 현상으로 밝혀졌습니다. 수정해야할 사항이 이에따라 변경되었습니다. 그리고 외계인을 모두 잡아야 스테이지가 클리어 되는데 외계인이 화면 밑까지 내려갈 경우 이를 잡지 못해 영원히 클리어가 불가능해 집니다

* 외계인과 플레이어의 기체가 접촉할시 목숨을 하나 잃도록 수정
* 외계인이 화면아래로 내려

[2018-03-29 04:32] anmyeondo opened #75 "적의 기체 다양화"
- [ ] 적의 비행기 종류를 늘린다.

[2018-03-29 04:32] jaeheeLee17 opened #76 "내 유닛의 Life갯수를 나타내는 전투기 갯수 수정"
- 처음 목숨 갯수는 5개로 설정하며 5개의 하트를 오른쪽 상단 점수 옆에 표시한다.
- 적들의 총에 맞을 때마다 하트를 1개씩 없앤다.

[2018-03-29 04:32] xodh opened #77 "특징있는 적 캐릭터 만들기"
- 보스(체력이 많고 외형이 다른 기체)
- 중간급(총 쏘는 속도가 빠른 적 만들기)

[2018-03-29 04:32] bean3 opened #78 "보스 스테이지 만들기"
일정 스테이지 이후에 몸집이 엄청나게 큰 보스가 나오는 보스 스테이지 만들기

[2018-03-29 04:33] hyobins opened #79 "총알 두개씩 발사"
총알 2개씩 나가도록 만들기

[2018-03-29 04:33] ujma1234 opened #80 "목숨 소멸시 적의 기체 초기화 해결"
목숨 소멸시 적의 기체가 초기화되는 상황을 해결

(한마리 남기고 죽으면 한마리 남긴체로 시작)

[2018-03-29 04:33] xodh opened #81 "다른 종류의 총알이 나가는 기능 스킬 추가"
오래동안 키다운 하고 있으면 다른 종류의 총알이 나가는 기능 추가

[2018-03-29 04:34] PrismSpirit opened #82 "공격버튼을 누르고 있으면 총알이 자동 발사되는 기능 추가"
- [x] 공격버튼을 누르고 있으면 총알이 자동 발사 기능 추가

[2018-03-29 04:34] hy-kiera opened #83 "필살기"
적을 명중시키면 게이지가 찬다(예를 들어 +5씩 총 100)
게이지가 100%를 다 채우면 필살기 기술을 사용할 수 있게 된다.
필살기 키는 'f'로 하고 6~7의 적을 처리할 수 있다.

+ 필살기 사용할 때 이팩트 다르게 처리

[2018-03-29 04:35] RDCPP opened #84 "계정 구현과 기타 구현"
- [ ] 계정 구현
- [ ] 계정에 각종 데이터 저장되도록 구현
- [ ] 난이도 구분 신설
- [ ] 통상해금 난이도를 낮은 난이도로만 설정
- [ ] 이전 단계에서 일정 이상 득점시 상위 난이도 해금
- [ ] Mission 모드 구현
- [ ] Mission 모드 성공시 신무기 해금

[2018-03-29 04:36] anmyeondo opened #85 "적의 기체 다양화"
- [ ] 적의 비행기 종류를 늘린다.

[2018-03-29 04:36] promisemee opened #86 "방어막 아이템 추가"
적 총알로부터 막아주는 방어막 추가

[2018-03-29 04:36] onnoo opened #87 "Add GameOver Scene"
When I play the Galtron, I meet a game ending with the background of last game.
So I want to add a new dynamic gameover scene after game ending.

component of GameOver scene is
* My score
* Retry button
* Return to Menu button
* Quit button

[2018-03-29 04:37] #85 closed

[2018-03-29 04:37] PrismSpirit opened #88 "숫자 키를 이용해 기체의 무기 변경기능 추가"
- [ ] 숫자 키를 이용해 기체의 무기 변경기능 추가

[2018-03-29 04:37] Verssae opened #89 "Add a Main BGM(Background Music)"
Add a BGM will be playing in main scene background.
The music must be played back repeatedly.
The music must be in compliance with the license.

[2018-03-29 04:38] TideProphet commented on #75
I will take it.

[2018-03-29 04:39] hd132506 opened #90 "적 속도 조절"
1. 적들이 Random하게 움직이게 하기
2. 단계별로 속력/방향을 조절하여 게임 난이도 올리기

[2018-03-29 04:39] hyewon2 opened #91 "Dash 기능"
Shift 키와 방향키를 동시에 누르면 그 방향과 같은 화면 끝으로 이동하는 기능입니다*^____^*

[2018-03-29 04:39] habby9000 opened #92 "적이 두번 피격시 죽도록"

[2018-03-29 04:40] anmyeondo commented on #77
i will take it

[2018-03-29 04:40] MoonJeWoong opened #93 "적들의 움직임 개선"
단조로운 왼쪽, 오른쪽 움직임을 개선하여 다양한 방향으로 움직일 수 있도록 한다.

[2018-03-29 04:40] Ramenseller opened #94 "위아래 이동기능 추가"
위아래로 이동을 가능케하고
게임 창의 크기를 넓힌다.

[2018-03-29 04:40] xodh commented on #94
i will take it

[2018-03-29 04:40] Alpacadabra opened #95 "기체 색 변경 기능 추가"
시작하기 전에 여러 색이 적용된 기체들을 보여주고 그 기체들 중에서 선택할 수 있도록 하는 식으로
처음 선택창에서 기체 색을 변경할 수 있게 한다.

[2018-03-29 04:40] xodh commented on #92
i will take it

[2018-03-29 04:40] BeautifulTommorow opened #96 "색반전 기능 추가"
메뉴화면에 옵션 탭을 만든 후, 색반전 기능을 추가

[2018-03-29 04:41] RDCPP commented on #88
I will take it

[2018-03-29 04:41] xodh commented on #78
i will take it

[2018-03-29 04:41] StillnessFate opened #97 "Mouse UI"
You need to modify the menus so that you can use the mouse as well as the arrow keys.

[2018-03-29 04:41] Ktw11 opened #98 "적을 일정이상 처치시, 보스 생성"
적을 25마리 이상 처치시, 일반 적보다 크기와 체력이 큰 보스를 등장시키기.
보스는 플레이어의 공격을 20회 맞아야 처치가 되며 보스의 크기는 일반 적 크기의 3배이며 2배의 속도로 이동한다.

[2018-03-29 04:42] hoonski opened #99 "시간이 흐를수록 적 방어력 상승"
1분이 지날 때 마다 적을 처치하기 위해 공격을 맞추어야하는 횟수가 1씩 증가한다.

[2018-03-29 04:42] KEON-KIM opened #100 "ADD Time Score"
- 스테이지를 빨리 끝 낼 수록 추가 Score가 발생하는 기능

[2018-03-29 04:43] wkd2314 opened #101 "스코어 누적 기능 추가 및 상점 추가"
-게임이 끝나고 나오는 스코어의 누적 기능을 추가

-누적 스코어를 이용해 새로운 무기를 구매할 수 있는 상점 추가

[2018-03-29 04:43] TideProphet commented on #80
목숨을 잃을 시 화면자체가 초기화되는 (외계인을 1마리만 남겨도 새로운 화면에서 다시 16마리로 시작하는) 현상을 해결해야 한다는 뜻인가요? 혼동의 여지가 있으니 Issue내용을 바꾸는게 좋을 거 같습니다.

[2018-03-29 04:43] jil8885 commented on #89
음악은 PPAP쯤으로 합시다

[2018-03-29 04:43] RDCPP commented on #86
i will take it

[2018-03-29 04:43] hoonski commented on #99
Label을 붙일 수 있는 권한이 따로 있는 것인지 궁금합니다.

[2018-03-29 04:44] dudu0166 commented on #66
i will take

[2018-03-29 04:44] 0-taku commented on #79
i will take it

[2018-03-29 04:44] RDCPP commented on #100
i will take it

[2018-03-29 04:44] Kim-Yongjun opened #102 "적 처치 시 일정 확률로 강화아이템 드랍"
- 적을 처치 했을 때(1스테이지에 한번) 일정 확률로 무기 강화(총알이 한명을 맞춘 후 소멸이 아니라 관통한다.) 아이템 드랍

[2018-03-29 04:44] dudu0166 commented on #73
i will take it

[2018-03-29 04:44] 0-taku commented on #87
i will take it

[2018-03-29 04:45] hd132506 commented on #82
I'll take it

[2018-03-29 04:46] jil8885 commented on #84
I will take it

[2018-03-29 04:46] KEON-KIM commented on #91
I will take it

[2018-03-29 04:47] ksccmp commented on #97
i'll take it

[2018-03-29 04:47] jaeheeLee17 commented on #90
I will take it.

[2018-03-29 04:48] BeautifulTommorow commented on #95
i will take it

[2018-03-29 04:48] hd132506 commented on #83
I'll take it

[2018-03-29 04:48] hy-kiera commented on #93
i will take it

[2018-03-29 04:49] Ramenseller commented on #102
I'll take it

[2018-03-29 04:49] BeautifulTommorow commented on #70
I will take it

[2018-03-29 04:51] jil8885 commented on #84
계정에 어떤 정보를 저장하면 좋을지 알려주세요

[2018-03-29 04:52] Ramenseller commented on #96
I'll take it

[2018-03-29 04:52] RDCPP commented on #84
아 그거는 최고점수랑 난이도 해금 현황, Mission모드 진행 상황, 무기 해금 현황 입니다.

[2018-03-29 04:52] kyj0701 commented on #69
I'll take it.

[2018-03-29 04:52] hyewon2 commented on #100
i will take it

[2018-03-29 04:53] PrismSpirit commented on #82
I took it.

[2018-03-29 04:53] onnoo opened #103 "Add the unit select scene"
I wishes the Galtron has character select scene.

Needs :
* When push 'play' button at Menu scene, the next scene is unit select scene.
* User can choice a player unit at the select scene.
* Just Select Scene, other unit design is other problem!
* When user select the unit, player can play galtron with it.

[2018-03-29 04:54] xodh opened #104 "난이도 추가"
easy
hard
같은 난이도 다른 시작을 만들기

[2018-03-29 04:54] anmyeondo commented on #99
i will take it

[2018-03-29 04:55] kyj0701 commented on #82
I'll take it.

[2018-03-29 04:55] jaeheeLee17 commented on #72
I will take it.

[2018-03-29 04:55] hy-kiera opened #105 "배경 움직이기"
게임 배경을 유동적으로 바꾼다

[2018-03-29 04:55] promisemee commented on #103
I'll take it

[2018-03-29 04:55] PrismSpirit commented on #69
I'll take it.

[2018-03-29 04:55] TideProphet opened #106 "점수산출 방식 변경"
현재 Galtron의 점수 산출공식은 스테이지가 올라갈수록 점수 증가량이 너무 큽니다.
그렇기 때문에 약 40~50스테이지를 넘어갈 경우 스코어보드의 사이즈를 넘어서는 점수가 발생합니다.
따라서 점수 산출방식을 좀 더 세밀화하고, 기본 산출공식을 수정해야 합니다.

[2018-03-29 04:56] ujma1234 commented on #76
i'll take it

[2018-03-29 04:56] PrismSpirit commented on #106
I'll take it.

[2018-03-29 04:57] 0-taku commented on #104
i will take it

[2018-03-29 04:57] habby9000 commented on #89
i will take ittttt

[2018-03-29 04:58] kyj0701 commented on #105
I'll take it.

[2018-03-29 04:59] Alpacadabra commented on #81
I'll take it

[2018-03-29 05:01] TideProphet opened #107 "적의 공격개시 판단 개선"
적들의 공격개시 방식은 플레이어의 기체가 적기의 바로 아래를 지나칠 때만 사격을 개시하는 방식입니다.
* **적기가 무작위성이 포함된 유동적인 탄막을 형성하도록 변경하여**

게임의 단조로운 난이도를 해결해야 합니다.

[2018-03-29 05:01] RDCPP commented on #107
회성이는 비추야

[2018-03-29 05:02] hy-kiera commented on #83
필살기 만들 때 전체 적을 다 처리하는 것도 괜찮을거 같아요.

[2018-03-29 05:05] hwangyerim opened #108 "기본 목숨 2개 추가"
기본 목숨을 2개 추가합니다.

[2018-03-29 05:06] RDCPP commented on #83
What do you think about using 'q' key instead of 'f' key?

[2018-03-29 05:06] hy-kiera opened #109 "공격 궤도 변화"
총알을 직선 궤도뿐만 아니라 대각선 궤도나 원형(폭탄), 곡선으로 바꾼다

[2018-03-29 05:06] dudu0166 commented on #108
i will take it

[2018-03-29 05:09] bean3 commented on #104
i will take it

[2018-03-29 05:09] inureyes commented on #99
@hoonski collaborator에게만 권한이 주어집니다. 지금은 조 당 한 명씩에게만 부여했습니다.

[2018-03-29 05:09] hy-kiera commented on #107
i will take it

[2018-03-29 05:10] bean3 commented on #79
i will take it

[2018-03-29 05:11] dudu0166 commented on #74
i will take it

[2018-03-29 06:30] pouu97 opened #111 "기체 종류 선택 기능"
캐릭터 선택 할 수 있듯이 게임 시작 전 기체를 선택할 수 있는 기능
각 기체마다 시작 레벨이 다르다.

[2018-03-29 06:31] YoonkiKim1 commented on #108
I will take it

[2018-03-29 06:32] Keunmo opened #112 "게임 인트로 영상 추가"
게임을 처음 실행시 짤막한 인트로 영상이 실행되게 만듭니다.

[2018-03-29 06:34] SonMinWoo opened #113 "맵 크기 넓히기"
When game is played, size of map is so small.
Space to avoid enemy's attack is not exist.
So, please expand map size.

[2018-03-29 06:34] Choyongil opened #114 "적 공격 멈춤 아이템 추가"

[2018-03-29 06:35] Keunmo commented on #113
i'll take it

[2018-03-29 06:38] gunoong011 opened #115 "적 위치 개선"
게임 실행시 적이 4 * 4 배열로 등장한다.
적이 등장할 때 고정된 위치가 아닌 랜덤한 위치에 등장하도록 하자.

[2018-03-29 06:38] Keunmo opened #116 "공격방식 변경//중복이에요 삭제해주세요.."
기존에는 버튼이 눌린 시점에 총알이 발사되었는데,
이것을 버튼을 누르고 있는 동안 자동으로 발사되도록 바꾸기

[2018-03-29 06:39] taaeyoon opened #117 "2인용 모드 추가"
싱글모드가 아닌 2인이서 플레이 할수 있는 플레이 환경 구현

[2018-03-29 06:39] pouu97 opened #118 "2P 개선"
현재 메인 메뉴에 2PVS가 실행이 되지 않으므로 코드를 수정해서 2P로 게임을 할 수 있게 한다.

[2018-03-29 06:39] YoonkiKim1 opened #119 "기체 이동속도 너프"
기체의 이동속도를 낮춰서 더 어렵게 만들어봅니다.

[2018-03-29 06:39] #118 closed

[2018-03-29 06:40] YeomJihoon opened #120 "시작 전 잔기(목숨) 변경기능"
시작을 누른 후 ◀  n  ▶  의 간단한 화면이 나오게 합니다.
이 때 n은 기본 잔기 개수입니다.
"<" 를 누르면 잔기 개수가 감소(최소치는 한 번 죽으면 끝이고 이것을 0으로 둡니다)
">" 를 누르면 잔기 개수가 증가(최대치는 5 정도가 적합해보입니다)합니다.
설정 후 START 버튼을 누르면 조정한 개수를 반영해서 게임 시작이 이루어집니다.
※ 이 설정 화면을 연장시키면 다른 분들이 제시한 난이도 조절, 기체 종류 조절 등을 한 화면에서 할 수 있을 것 같습니다.

[2018-03-29 06:42] SonMinWoo commented on #112
I'll take it

[2018-03-29 06:43] Keunmo commented on #119
i'll take it

[2018-03-29 06:43] pouu97 commented on #117
I will take it

[2018-03-29 06:45] Ochodus opened #121 "적 도감 기능 및 적에 대한 이해도 추가"
지금까지 처치했던 다양한 종류의 적에 대한 도감을 추가한다

처치하지 않은 적의 모습은 검은 실루엣으로, 1번이라도 처치한 적이 있는 적은 이미지가 표시 되도록 한다.

같은 종류의 적을 얼마나 처치했냐에 따라 해당 적에 대한 이해도가 증가한다. (도감 화면에 메달 등으로 표시)

이해도에 따라서 적을 상대하는데 여러가지 이점을 준다. (해당 적에 대한 회피 능력 또는 공격력 증가 등)

[2018-03-29 06:45] moonkihun opened #122 "게임이 진행되면서 적들의 hp증가"
- [x] 게임이 진행되면서 적들의 hp증가

[2018-03-29 06:49] SonMinWoo opened #123 "다양한 효과음 추가"
1. 적 및 아군 기체가 공격할 시 나는 효과음 추가
2. 적 및 아군 기체가 사망하였을 시 나는 효과음 추가
3. 게임 시작 및 게임 종료시 나는 효과음 추가
4. 기타 추가가 필요하다고 생각되는 효과음 추가

[2018-03-29 06:53] #116 closed

[2018-03-29 06:53] SonMinWoo opened #124 "1:1 모드 추가"
1. 온라인 상에서 자동으로 상대를 매칭
2. 1:1로 게임을 즐길 수 있도록 함
3. 이긴 쪽과 진 쪽에게 각각 승리 메시지와 패배 매시지 출력

[2018-03-29 06:53] Choyongil commented on #120
I'll take it

[2018-03-29 06:54] Keunmo commented on #122
i'll take it

[2018-03-29 06:54] YoonkiKim1 commented on #95
I will take it

[2018-03-29 06:54] moonkihun commented on #108
i will take it

[2018-03-29 06:54] gunoong011 commented on #123
i will take it

[2018-03-29 06:55] YoonkiKim1 commented on #94
I will take it

[2018-03-29 06:55] taaeyoon commented on #96
I will take it

[2018-03-29 06:55] SonMinWoo commented on #102
I'll take it

[2018-03-29 06:55] Choyongil commented on #111
i'll take it

[2018-03-29 06:55] YoonkiKim1 commented on #90
I will take it

[2018-03-29 06:55] Keunmo commented on #102
i'll take it (with SonMinWoo)

[2018-03-29 06:56] moonkihun commented on #112
i will take it

[2018-03-29 06:56] YoonkiKim1 commented on #79
I will take it

[2018-03-29 06:56] Ochodus opened #125 "화면 상에서 캐릭터 순환이 가능한 모드 만들기"
캐릭터가 화면의 왼쪽 끝으로 갈시 오른쪽 끝으로 이동, 오른쪽 끝으로 갈 시 왼쪽 끝으로 이동할 수 있는 모드 만들기 (또는 그렇게 설정할 수 있게 하기)

[2018-03-29 06:56] moonkihun commented on #95
i will take it

[2018-03-29 06:57] Aricsa opened #126 "도탄 지원"
적과 자신의 탄막이 겹치면 소멸

[2018-03-29 06:57] SonMinWoo commented on #115
I'll take it

[2018-03-29 06:58] Choihaeun opened #127 "목숨 아이템"
1. 기본적으로 목숨 1개로 시작
2. 게임 진행시 적이 없어지며 목숨 아이템 드랍
3. 아이템 먹으면 목숨 1 UP

[2018-03-29 06:59] Ohyulim opened #128 "적의 모습 바꾸기"
적의 모습을 바꿉니다.

[2018-03-29 06:59] Choihaeun commented on #128
I will take it

[2018-03-29 07:00] moonkihun commented on #90
i will take it

[2018-03-29 07:01] Ochodus commented on #109
I'll take it.

[2018-03-29 07:03] Ochodus commented on #114
I'll take it.

[2018-03-29 07:04] taaeyoon opened #129 "보스몬스터 등장시 배경음악 바뀜"
보스몬스터 등장시 배경음악 바뀜

[2018-03-29 07:04] #129 closed

[2018-03-29 07:07] Choihaeun opened #130 "레이저 색 변경"
본인의 레이저 색을 변경

[2018-03-29 07:07] Ohyulim commented on #130
i will take it

[2018-03-29 07:09] TigerP-MS opened #131 "아이템 사용으로 적의 속도 느리게하기"
아이템을 사용하면 일정시간동안 적의 총알의 속도와 적의 이동속도가 느려진다.

[2018-03-29 07:10] Ochodus opened #132 "적이 죽으면 일정 확률로 화폐 드랍"
적을 처치할 시 일정 확률로 화폐를 떨어뜨린다. 상점 등에서 사용 가능.

[2018-03-29 07:12] Ohyulim opened #133 "본인의 비행기 모습 선택"
1. 비행기 색깔 2개 추가
2. 화살표로 선택 가능

[2018-03-29 07:12] SonMinWoo commented on #132
I'll take it

[2018-03-29 07:12] Choihaeun commented on #133
I will take it

[2018-03-29 07:15] SonMinWoo commented on #101
I'll take it

[2018-03-29 07:18] Keunmo opened #134 "함선 이동범위 증가"
기존에 좌우로만 움직일 수 있는 함선을 위 아래로도 움직일 수 있게 해봅시다

[2018-03-29 07:19] Choihaeun commented on #134
I will take it

[2018-03-29 07:19] Ochodus commented on #131
I'll take it.

[2018-03-29 08:03] hy-kiera opened #135 "윈도우에서 실행할 때 게임 속도 빨라지는 버그"
윈도우에서 main.py를 실행하면 게임 속도가 빨라져서 게임을 할 수가 없다.

[2018-03-29 08:07] kyj0701 commented on #73
일시정지는 이미 구현이 되어 있습니다. 게임 시작 후 p키를 입력하면 일시정지됩니다. 댓글확인하시고 답글 달아주시면 close해드리겠습니다.

[2018-03-29 08:32] TideProphet commented on #128
i will take it

[2018-03-29 08:45] TideProphet commented on #74
ISSUE의 내용에 이상이 있음을 발견했고, 수정하였습니다.

[2018-03-29 10:50] Taewan-P commented on #135
ㄹㅇ?

[2018-03-29 11:07] Taewan-P commented on #127
I'll take it.

[2018-03-29 12:34] hy-kiera commented on #135
정상 플레이 속도가 1이라고 하면 50?정도

[2018-03-29 13:30] dudu0166 commented on #73
확인했습니다.

[2018-03-29 14:55] wkd2314 commented on #122
i will take it

[2018-03-30 00:57] Taewan-P commented on #126
I will take it

[2018-03-30 01:58] hy-kiera commented on #105
세로로 움직여서 날라가는 것 같은 느낌으로

[2018-03-30 02:07] jil8885 opened #138 "아군 기체 모델링 변경"
아군 기체 모델링이 너무 단조롭고 밋밋합니다.

[2018-03-30 02:08] TideProphet commented on #138
I will take it

[2018-03-30 02:16] hy-kiera commented on #98
#78 과 똑같지 않나...? 중간보스?

[2018-03-30 06:03] hy-kiera opened #141 "게임 시작 전 옵션 선택"
게임을 시작하기 전에 외형, 무기, 아이템 등등을 고를 수 있게 한다

[2018-03-30 06:40] Choihaeun opened #142 "적의 수 변경"
적의 수를 반으로 줄입니다.

[2018-03-30 06:40] Ohyulim commented on #142
i will take it

[2018-03-30 07:03] Ohyulim opened #143 "타이틀 변경"
main 화면에 Galtron 타이틀 변경

[2018-03-30 07:03] Choihaeun commented on #143
i will take it

[2018-03-30 08:24] Choihaeun opened #145 "about 메뉴 변경"
about의 디자인을 변경합니다.

[2018-03-30 08:25] Ohyulim commented on #145
i will take it

[2018-03-30 13:50] hwangyerim commented on #130
I will take it

[2018-03-30 17:13] wkd2314 commented on #135
i will take it

[2018-03-31 01:40] hy-kiera commented on #107
I solved this issue and upstream merged it.
So, you need to close this issue.

[2018-03-31 04:37] hy-kiera commented on #113
i'll take it and I have a question that you want to resize the screen or just expand it?

[2018-03-31 04:46] hy-kiera commented on #125
I'll take it

[2018-03-31 05:02] hy-kiera commented on #125
I solved it and requested to merge so you can close this issue

[2018-03-31 07:04] jaeheeLee17 commented on #142
i will take it

[2018-03-31 09:13] Taewan-P opened #154 "Pull Request를 남길때"
지금 Pull requests들을 보면 몇몇 코드가 pyc 파일들때문에 merge가 불가능하다는 옵션이 나옵니다.
.gitignore 에 \_\_pycache\_\_ 폴더랑 .pyc 파일들을 추가하는게 어떨지 묻고 싶습니다... @inureyes

[2018-03-31 10:19] jaeheeLee17 commented on #143
i will take it

[2018-03-31 12:10] hy-kiera commented on #134
I will take it

[2018-03-31 14:33] moonkihun commented on #138
i will take it

[2018-03-31 14:44] moonkihun commented on #142
i will take it

[2018-03-31 14:51] moonkihun commented on #135
i will take it

[2018-03-31 14:52] moonkihun commented on #143
i will take it

[2018-03-31 15:15] moonkihun commented on #130
i will take it

[2018-03-31 15:43] moonkihun commented on #128
i will take it

[2018-03-31 15:48] moonkihun commented on #145
i will take it

[2018-03-31 15:53] moonkihun commented on #123
i will take it

[2018-03-31 17:32] inureyes commented on #154
추가가 되어 있는데 기존걸 지우질 못했습니다. 컴 안들고 출장와서...

[2018-04-01 07:04] hy-kiera commented on #74
I'll take it

[2018-04-01 07:18] hy-kiera opened #158 "남은 목숨이 보이지 않는 버그"
처음 플레이가 종료된 후 나오는 버튼들에서 play를 누르면 게임이 다시 시작되는데, 라이프가 보이지 않는다.
2개부터는 보인다.

[2018-04-01 08:49] Verssae opened #159 "배경 위의 객체들이 깜박이는 Flicker 현상 수정"
현재 배경 움직이기 이슈가 해결된 이후로 게임화면이 깜박거립니다.
이 Flicker현상 수정을 요청합니다.

[2018-04-01 08:50] StillnessFate commented on #159
i will take it

[2018-04-01 09:02] StillnessFate commented on #159
eff92b0 Resolved.

[2018-04-01 09:06] jaeheeLee17 commented on #145
i will take it

[2018-04-01 09:15] StillnessFate commented on #158
i will take it

[2018-04-01 09:29] StillnessFate commented on #158
7f03c8e I fixed this problem and sent a pull request.

[2018-04-01 10:00] StillnessFate opened #162 "현재 이슈 해결 및 Pull Request관련"
현재 Pull Request들을 교수님이 확인하고 merge하고 계시는데, 만약 한동안 merge가 이루어지지 않고 있는 상태에서 복수의 이슈를 해결할 때의 Pull Request를 어떻게 보내면 좋을지 알고 싶습니다.

해결한 이슈 A와 B가 있다고 할 때,

1. A 이슈를 해결한 뒤 그 내용을 Pull Request를 보내고, B 이슈는 A 이슈를 해결한 상태를 포함하여 해결한 뒤 Pull Request를 보낸다. (now + issue A, now + issue A + issue B)

2. A 이슈를 해결한 뒤 그 내용을 Pull Request를 보내고, B 이슈는 A 이슈를 해결하기 전의 현재 Pull Request를 보내고자 하는 branch의 상태로 롤백한 후 B 이슈를 해결한 내용만 포함하여

[2018-04-01 10:03] jaeheeLee17 commented on #130
i will take it

[2018-04-01 12:50] hy-kiera commented on #162
1번 방법(?)으로 하고 있는데, A코드는 이미 Pull Request가 되어있는 상태에서 A+B가 된 코드를 request보내면 이전에 발행했던 request에 합쳐져서 A+B의 Pull Request 한개만 생성되고 있어...

[2018-04-01 13:57] Keunmo opened #163 "적이 총알을 쏘지 않는 에러"
먼저 무리중에 가운데 있는 적들을 먼저 제거하고 플레이어가 그 공간에 위치할 경우 적들이 플레이어를 공격하지 않음. 그 상태로 시간이 경과하면 적들이 화면 아래로 사라지고 게임이 계속 끝나지 않음.

VVV        VVV
VV          VVV
VVV          VV

         A
---------------
위 상황에서 적은 플레이어를 공격하지 못함. 시간이 지나면 적들은 플레이어 옆으로 그냥 내려가버림.

[2018-04-01 16:17] #115 closed

[2018-04-01 16:44] inureyes opened #165 "Explosion animation"
* Explosion animation for enemy / ship

[2018-04-01 16:44] inureyes commented on #165
74aa68c1

[2018-04-01 16:44] #165 closed

[2018-04-01 16:44] inureyes commented on #159
@StillnessFate  👍

[2018-04-01 16:44] #159 closed

[2018-04-01 16:45] inureyes commented on #162
보통은 이슈별로 다 별도로 브렌치를 만들고, pull-request를 하는 것이 정석입니다.

[2018-04-01 16:46] #154 closed

[2018-04-01 16:46] inureyes commented on #154
해결 완료.

[2018-04-01 16:48] Taewan-P commented on #154
앗 이제 봤습니다...

[2018-04-01 16:52] Taewan-P commented on #163
이거 이미 있는 issue이지 싶은데

[2018-04-01 16:54] inureyes opened #166 "한 화면에 쏠 수 있는 총알 횟수 제한"
* 현재 총알은 엄청나게 많이 쏠 수 있기 때문에 게임 성능 및 밸런스에 문제가 됩니다.
 * 화면 안에 발사할 수 있는 총알 횟수를 제안합니다.
 * [x] 총알 횟수를 적절하게 제한합니다.
 * [x] 총알이 날아가는 속도를 빠르게 합니다.

[2018-04-01 16:57] Taewan-P commented on #163
Issue #107

[2018-04-01 17:00] Taewan-P commented on #166
I will take it

[2018-04-01 17:26] StillnessFate commented on #74
@hy-kiera This issue has not been fixed. I will solve this problem.

[2018-04-01 18:10] StillnessFate commented on #165
Where is the animation module? Or should I implement the actual functionality based on this?

[2018-04-01 18:52] StillnessFate commented on #158
8af070b Resolved.

[2018-04-01 21:10] StillnessFate commented on #165
Once implemented.
#167

[2018-04-01 21:26] StillnessFate commented on #69
#167 Resolved.

[2018-04-01 21:32] #162 closed

[2018-04-02 00:33] hy-kiera commented on #163
ship의 위치에 상관없이 쏘는 코드로 해결함

[2018-04-02 01:07] Keunmo commented on #163
ㅇㅎ 감사

[2018-04-02 02:29] #163 closed

[2018-04-02 03:14] #105 closed

[2018-04-02 03:48] hy-kiera opened #171 "shipLife -1 when the fleet arrives at the bottom of screen"
I coded that if the fleet reaches at the bottom of screen, shipLife decreases. (Pull Requests #151 closed)
bug: left lives do not appear, it takes 2 lives(I don't know why)
I want it to take away only 1 (shipLife-1)

[2018-04-02 03:55] jil8885 commented on #82
I fix this problem and pull request to repo

[2018-04-02 03:56] hy-kiera opened #172 "일시정지 후, 메뉴로 나갔다가 다시 플레이 했을 때 초기화되지 않는 현상"
If a player press 'p'(pause) button - 'menu' button - 'play' button, the game does not reset.
I want the game to reset when a player exit the game(p-menu).

[2018-04-02 03:57] habby9000 commented on #89
fixes #89

[2018-04-02 04:04] habby9000 opened #173 "배경화면이 뒤로 움직이게 설정"
비행선이 앞으로 가는 느낌이 들게끔 배경화면이 앞이 아니고 뒤로 가도록 설정해야 할 거 같아요

[2018-04-02 04:05] xodh commented on #173
i will take it!

[2018-04-02 04:22] taaeyoon commented on #89
i'll take it

[2018-04-02 04:47] Taewan-P opened #174 "적 총알에 맞아서 다시 태어났을때 남은 적의 수와 위치가 초기화 됩니다"
적 총알에 맞고 다시 태어났을때 남은 적의 수와 위치가 초기화 됩니다. 보통 이런 게임에서 죽으면 다음 스테이지로 넘어가지 않고 죽은 그상태에서 다시 태어납니다. 따라서 남은 적의 수와 위치가 초기화되지 않게끔 바뀌었으면 좋겠습니다.

[2018-04-02 04:51] Taewan-P opened #175 "한 스테이지를 클리어 한 후에"
적군이 총알을 발사했습니다. 하지만 플레이어가 먼저 적을 모두 죽였습니다. 그러면 다음 스테이지로 넘어갑니다. 하지만 총알은 계속 날라가고 있습니다.

다음 스테이지로 넘어갈때 총알이 다 지나갈때까지 시간간격을 두거나 새 스테이지가 시작될때 화면에 있는 총알들을 모두 없어지게끔 수정하면 좋을것 같습니다.

[2018-04-02 04:53] Taewan-P commented on #166
지금 총알이 날라가는 속도의 변수가 적군이 쏘는 총알의 속도랑 같은 변수를 쓰고 있습니다. 총알이 날아가는 속도를 빠르게 한다면 적군의 총알속도도 빠르게 바꿀까요? 아니면 둘이 속도를 다르게 설정할까요?

[2018-04-02 05:09] Taewan-P opened #176 "점수를 너무 많이 획득했을때"
![image](https://user-images.githubusercontent.com/27392567/38183909-ea0ab6ec-367e-11e8-8b09-1198e2b61912.png)
현재 점수를 너무 많이 획득하면 최고기록과 현재 기록점수가 겹치는 현상이 발생합니다...
점수를 일정 자릿수 이상 획득했을 시에 글씨 크기를 조정하거나 점수를 너프하는등 해결방법이 필요합니다...

[2018-04-02 05:38] jil8885 commented on #176
i fix it and pull request this problem

[2018-04-02 05:38] jil8885 commented on #175
i fix it and pull request this problem

[2018-04-02 05:47] jil8885 commented on #174
i fix it and pull request this problem

[2018-04-02 05:48] Taewan-P commented on #176
제가 해결하겠습니다...

[2018-04-02 05:49] #176 closed

[2018-04-02 06:28] Taewan-P commented on #166
0f80847 와 91a4f28 로 해결완료하고 Pull Request 보냈습니다.

[2018-04-02 06:45] Taewan-P opened #179 "죽으면 궁게이지 초기화되는 현상"
적에게 죽었을때 궁게이지가 초기화 됩니다. 초기화 되지 않으면 더 좋을것 같습니다.

[2018-04-02 07:29] Taewan-P commented on #171
I will take it

[2018-04-02 07:31] jil8885 commented on #179
I fix it

[2018-04-02 07:36] Taewan-P commented on #173
지금도 뒤로 가도록 설정되어 있는것 같아요

[2018-04-02 10:04] #103 closed

[2018-04-02 10:22] TigerP-MS commented on #89
I will take it

[2018-04-02 10:41] #158 closed

[2018-04-02 10:42] #173 closed

[2018-04-02 10:44] TigerP-MS commented on #122
i will take it

[2018-04-02 10:45] inureyes commented on #143
@Choihaeun You can submit nicer image than current one! :-)

[2018-04-02 10:45] TigerP-MS commented on #172
i will take it

[2018-04-02 10:45] inureyes commented on #126
I think it should be an option.

[2018-04-02 10:46] inureyes commented on #131
@Ochodus current code supports slow option by pressing `q` key. You can find the code and reuse them to support this feature. 👍

[2018-04-02 10:47] inureyes commented on #127
`Maybe` score-related life item?

[2018-04-02 10:48] inureyes commented on #138
@TideProphet  @moonkihun You two can submit your design. Let others choose it! 👍

[2018-04-02 10:49] inureyes commented on #141
Need to be more specific!

[2018-04-02 10:51] Taewan-P commented on #126
okay :)

[2018-04-02 10:52] #134 closed

[2018-04-02 11:01] StillnessFate opened #180 "Current score overlaps ultimate gauge"
When the current score is more than 4 digits, it overlaps the ultimate gauge. To solve this problem, move the ultimate gauge to the proper position

[2018-04-02 11:01] Verssae commented on #180
I will solve this issue.

[2018-04-02 11:12] hyobins commented on #123
i'll take it

[2018-04-02 11:41] hwangyerim commented on #113
I'll take it

[2018-04-02 11:54] Taewan-P commented on #171
현재 버그 상태가 n개의 비행기가 동시에 화면 바닥에 닿이면, 남은 목숨이 n개 사라집니다. 이걸 해결해보도록 하겠습니다.

[2018-04-02 12:08] inureyes commented on #130
@jaeheeLee17 Are title / about image license-free? It looks not...

[2018-04-02 12:12] inureyes commented on #128
@Choihaeun  @TideProphet Suggest nicer ship design! 👍

[2018-04-02 12:15] #107 closed

[2018-04-02 12:18] inureyes commented on #72
`p`를 누르면 멈춥니다-

[2018-04-02 12:18] #72 closed

[2018-04-02 12:19] #109 closed

[2018-04-02 12:20] jil8885 opened #181 "궁극기 사용시 궁게이지가 차는 현상"
궁을 사용할땐 궁게이지가 안차게 해주세요.
궁을 사용할 때 궁게이지가 차게 되어서 궁 쿨타임이 난이도 하락에 지대한 영향 을 줍니다

[2018-04-02 12:21] Taewan-P commented on #181
I'll take it

[2018-04-02 12:22] jil8885 opened #182 "다음 스테이지로 넘어갈 때 폭파 애니메이션이 끝난 후 멈칫함"
다음 스테이지로 넘어갈 때 폭파 애니메이션이 끝난후 sleep하게 해주세요. 렉이 걸린 것처럼 보입니다.

[2018-04-02 12:22] inureyes opened #183 "비행기 기울어짐 구현"
* [x] 비행기가 왼쪽으로 갈 때는 왼쪽으로, 오른쪽으로 갈 때는 오른쪽으로 기울어지게 만든다.
 * [x] 정지하면 다시 원래 모습으로 돌아온다.

[2018-04-02 12:23] inureyes commented on #182
@jil8885 정확히 이해가 안되니 스샷 첨부 부탁합니다.

[2018-04-02 12:23] RDCPP commented on #183
I will take it

[2018-04-02 12:24] inureyes commented on #174
@jil8885 please paste the pull request url to here.

[2018-04-02 12:27] inureyes commented on #145
@jaeheeLee17 image license issue?

[2018-04-02 12:28] jil8885 commented on #174
https://github.com/inureyes/Galtron/pull/170

해당 pull request에서 머지된 소스에 포함되어 있습니다.

[2018-04-02 12:28] inureyes opened #184 "내 기체도 터지게"
적이 터지듯 내 기체도 터지는 애니메이션이 나오게 합니다.

[2018-04-02 12:31] dudu0166 commented on #184
i will take it.

[2018-04-02 12:31] inureyes opened #185 "물흐르듯 이어지는 스테이지 구조"
* 현재 구조는 화면 내의 적이 클리어되면 다음 적이 나타나는 구조입니다.
 * 적이 계속 등장하도록 구조를 변경합니다.
 * 적 출현 위치
 * 상단 또는 좌우단에서 등장
 * 적들마다 다른 경로를 갖고 이동
 * 다양한 적들이 각각 다른 경로 패턴으로 이동하도록 함 (다양한 적 이슈와 연계)
 * 일정 수 이상 적이 죽은 경우 보스 등장 (보스 이슈와 연계)
 * 보스를 죽이면 새 스테이지로 이동

덧) 라벨 잘못 매긴 것이 아니라 15점입니다.

[2018-04-02 12:32] Taewan-P commented on #182
@inureyes https://youtu.be/fb6ittLsTFM
위 영상과 같이 다음 스테이지로 넘어갈때 폭파 애니메이션도 같이 멈추는 현상인것 같습니다.

[2018-04-02 12:37] jil8885 commented on #185
혹시 코드 제출 마감기한이 언제까지 인가요..?

[2018-04-02 12:40] Taewan-P opened #186 "시작하고 아무것도 안하고 죽었을때 게임오버"
게임이 시작하고 아군의 우주선을 움직이지 않은체로(정 가운데) 가만히 나두고 있다가 죽으면 총알이 초기화되지 않아서 계속 목숨이 사라지다가 결국 게임 오버가 됩니다.

[2018-04-02 12:40] PrismSpirit commented on #186
I'll take it.

[2018-04-02 12:46] xodh opened #187 "스킬게이지 위치변경"
스킬게이지바 가 점수에 가려져 안보이는 현상이 생깁니다. 게이지바를 스테이지 표시하는 줄에 보이도록 수정해 주시기 바랍니다.

[2018-04-02 12:52] onnoo commented on #99
I got it!

[2018-04-02 12:53] #83 closed

[2018-04-02 12:55] Taewan-P commented on #187
Issue #180 에 이미 있네용

[2018-04-02 12:56] #187 closed

[2018-04-02 12:58] bean3 commented on #184
i will take it

[2018-04-02 13:05] inureyes commented on #185
@jil8885 내일 자정인데, 한 번 끊고 그 다음주에도 계속 갑니다. 수요일에 pruning 및 project managing에 대해 배울겁니다.

[2018-04-02 13:08] #174 closed

[2018-04-02 13:10] inureyes commented on #77
Duplicate of #75

[2018-04-02 13:10] #77 closed

[2018-04-02 13:12] StillnessFate commented on #185
I will take it

[2018-04-02 13:33] jil8885 commented on #117
I will take it

[2018-04-02 13:40] Aricsa commented on #185
I will take it

[2018-04-02 13:41] Aricsa commented on #184
i'll take it

[2018-04-02 13:41] Aricsa commented on #183
i will take it

[2018-04-02 14:00] ujma1234 opened #190 "ABOUT 변경하기"
기존에 있던 알수없는 ABOUT을 삭제하고
사용법, 개발자, 조작키와 같은 세부사항들을 올바르게 입력한 새로운 ABOUT을 만든다

[2018-04-02 14:02] Taewan-P opened #191 "메인화면 해상도 문제"
![image](https://user-images.githubusercontent.com/27392567/38198970-d0a70354-36c9-11e8-8357-76bb7c5db24e.png)
현재 게임을 실행하면 메인화면 이미지 파일이 잘려 나오는 현상이 발생하고 있습니다.

[2018-04-02 14:03] inureyes commented on #191
We also need to change opening image to license-free version!

[2018-04-02 14:03] #130 closed

[2018-04-02 14:05] hy-kiera opened #192 "게임 버튼 안내 화면만들기"
play 버튼 누르고 나서 게임 시작하지 않고 지금까지 구현된 게임 키(조건도)와 옵션들을 소개하는 안내 스크린이 있으면 좋겠다.
방향키, 필살기 버튼, 공격방법 바꾸는 버튼 등등

[2018-04-02 14:13] hy-kiera opened #194 "점수판 UI 바꾸기"
최고점수와 레벨, 현재 점수가 정렬되지 않고 다른 곳에 흩어져 있어 보기가 불편하다.
한 곳에 모아놓아 유저가 보기 쉽게 하면 좋을 것 같다.

[2018-04-02 14:14] TigerP-MS commented on #190
i will take it

[2018-04-02 14:14] 0-taku commented on #192
i will take it

[2018-04-02 14:16] jil8885 commented on #194
I fixed it and included this issue to my account

[2018-04-02 14:16] #120 closed

[2018-04-02 14:21] hy-kiera commented on #192
about에 있었네요.

[2018-04-02 14:21] #192 closed

[2018-04-02 14:24] hy-kiera opened #196 "about UI"
<img width="550" alt="image" src="https://user-images.githubusercontent.com/27283638/38199732-c7c3995c-36cc-11e8-9f47-fde743a2e420.png">
about에 내용을 더 친절하게 바꿔주고, 버튼이 내용을 가리지 않게 하면 좋겠습니다.

[2018-04-02 14:24] #94 closed

[2018-04-02 14:31] ksccmp commented on #94
그러네요.....,;;

[2018-04-02 14:31] moonkihun commented on #113
i will take it

[2018-04-02 14:33] hy-kiera commented on #113
이 이슈 해결되지 않았나요??

[2018-04-02 14:33] YeomJihoon commented on #196
I finished this issue.

[2018-04-02 14:34] YeomJihoon commented on #190
i finished this issue.

[2018-04-02 14:35] hy-kiera commented on #196
Pull Request 번호가 몇번이에요??

[2018-04-02 14:40] Taewan-P commented on #196
Pull Request #189 입니당

[2018-04-02 14:41] #194 closed

[2018-04-02 14:41] hy-kiera commented on #196
왜 파일이 안받아졌지;;

[2018-04-02 14:41] inureyes commented on #196
@Taewan-P about 화면이 폭이 안맞아서 빈공간이 남는거 같습니다.

[2018-04-02 14:42] Taewan-P commented on #190
Pull Request #189 로 처리완료되었습니다.

[2018-04-02 14:42] #190 closed

[2018-04-02 14:46] Taewan-P commented on #196
About 쪽만 지금 빈공간이 남네요. 이건 제가 해결하겠습니다..

[2018-04-02 14:47] inureyes commented on #196
@Taewan-P 해결해 두었습니다. 👍

[2018-04-02 14:47] #196 closed

[2018-04-02 14:47] #191 closed

[2018-04-02 14:49] hy-kiera opened #198 "플레이 속도 느려짐"
혹시 최신 파일을 실행시키면 플레이 할 때, 자신과 적, 총알 모두 느리게 움직이는 현상이 나타나는 사람있나요??

[2018-04-02 14:53] Taewan-P commented on #196
@inureyes 감사합니다!

[2018-04-02 14:58] hyobins commented on #97
I'll take it

[2018-04-02 15:02] TigerP-MS opened #202 "bgm에 비해 효과음이 너무 큽니다."
적이 파괴될때 효과음이 bgm에 비해 너무 커서 bgm이 묻힙니다. 효과음 소리를 조절해야 할 것 같습니다.

[2018-04-02 15:02] 0-taku commented on #202
I'll take it.

[2018-04-02 15:07] inureyes opened #203 "스테이지를 넘어갈 때 마다 효과음 추가"
* 스테이지를 넘어갈 때 마다 효과음을 추가한다.

[2018-04-02 15:08] 0-taku opened #204 "자신이 총을 쏠때 효과음이 나지 않습니다."
적의 기체가 총을 쏠때는 효과음이 나는데 자신이 총을 쏠때 효과음이 나지 않습니다.

[2018-04-02 15:08] TigerP-MS commented on #204
i will take it

[2018-04-02 15:08] inureyes opened #205 "p 키로 정지시에 배경음악 같이 끄기"
* p 키로 정지시에 배경음악이 계속 나온다
 * p 키로 눌렀을 때 배경음악을 일시 정지하는 기능이 필요하다.

[2018-04-02 15:10] inureyes opened #206 "스테이지 증가에 따라 배경 변경"
* 스테이지 증가에 따라 배경을 변경한다.
 * 5스테이지마다 스테이지 배경을 변경한다.
 * 우선 3개의 배경을 준비하고, 15스테이지를 클리어하면 다시 첫 스테이지의 배경이 나오게 한다.

[2018-04-02 15:10] 0-taku commented on #205
I'll take it.

[2018-04-02 15:10] TigerP-MS commented on #203
i will take it

[2018-04-02 15:11] YeomJihoon commented on #206
i'll take it.

[2018-04-02 15:12] inureyes opened #207 "차지샷 구현"
* 총알을 누르고 있다가 놓으면 차지샷이 나가게 한다.
 * 차지샷은 시간에 따라 커진다.
 * 최대 크기의 차지샷은 기본 총알의 3배로 한다. 중간 차지는 2배.
 * 차지에 걸리는 시간은 2.5초로 한다.

[2018-04-02 15:12] anmyeondo opened #208 "Highscore.json관련 오류"
highscore.json파일이 존재하지 않을 시 오류가 발생하는 부분과 게임 종료 후 하이스코어가 저장되지 않는문제

[2018-04-02 15:12] StillnessFate commented on #208
i will take it

[2018-04-02 15:13] inureyes opened #209 "세 방향 총알 구현"
* 현재 tab을 누르면 총알 종류가 바뀐다.
 * 총알 패턴에 세 방향으로 나가는 총알을 추가로 구현한다.  \ | /
 * 이후에 아이템을 먹으면 총알 종류가 바뀌는 이슈와 연계할 수 있다.

[2018-04-02 15:16] inureyes opened #210 "아이템 구현"
* 다양한 효과가 있는 아이템을 드롭하게 한다.
 * 아이템은 이후 다양한 용도로 확장 가능하게 한다.
 * 적을 죽이면 0.1의 확률로 아이템이 등장하고 화면 아래로 떨어진다.
 * 아이템은 여러 색상을 가질 수 있다.
 * 아이템의 종류
  * [ ] 비행기 속도 업그레이드. 기본 속도의 0.2배씩 증가. 2배가 최대.
  * 이후 다른 이슈와 연계하여, 무기 변경, 적 필살 제거 등으로 확장 가능.

[2018-04-02 15:20] inureyes opened #211 "멀티 스크롤링"
* 현재는 한 장의 배경이 스크롤되고 있습니다.
 * 멀티레이어로 다중 스크롤을 하게 만들어봅시다.
 * 배경 디자인을 하는 학생과, 코드 구현을 하는 학생이 팀을 만들어 함께 해 보도록 합시다.

[2018-04-02 15:21] #175 closed

[2018-04-02 15:23] dudu0166 commented on #205
I will take it.

[2018-04-02 15:27] StillnessFate commented on #208
#213 I solved the problem and sent a pull request.

[2018-04-02 15:29] StillnessFate commented on #208
#213 Resolved

[2018-04-02 15:36] StillnessFate commented on #207
I will take it

[2018-04-02 15:42] bean3 commented on #204
i will take it

[2018-04-02 15:43] hy-kiera opened #215 "라이프 그래픽 변경되지 않음"
play-기체선택-pause-menu-play-이전에 선택하지 않았던 색의 ship 선택해서 플레이 하면 유저의 ship 색깔과 라이프를 나타내는 ship의 색이 동일하게 나오지 않는다. 몇번 반복해서 pause-menu-play해도 맨 처음에 선택한 ship의 색깔로 라이프가 나타난다.

[2018-04-02 15:43] Taewan-P commented on #208
@StillnessFate 현재 디렉토리 내에서 data-files라는 폴더가 없으면 FileNotFoundError가 발생합니다. 레포에 폴더만이라도 추가하는게 어떨까요?

[2018-04-02 15:45] #208 closed

[2018-04-02 15:45] inureyes commented on #208
@Taewan-P 👍

[2018-04-02 15:46] #205 closed

[2018-04-02 15:56] Taewan-P commented on #166
코드가 많이 수정되면서 총알발사횟수 조절 코드가 사라졌습니다... 다시 수정하도록 하겠습니다

[2018-04-02 15:58] hd132506 commented on #179
I'm the contributor of ultimate skill, it's not a bug but an intended function for adjusting difficulty. Its gauge should be removed after death so that players are more careful with their control.

[2018-04-02 15:59] hy-kiera opened #218 "w로 속도를 올릴 때 너무 빨리 떨어진다."
w키로 속도를 올리면 갑자기 alien들이 너무 빨리 떨어진다. 높이는 속도의 폭을 줄이면 좋겠다.

[2018-04-02 16:02] hd132506 commented on #210
I'll take it

[2018-04-02 16:08] bean3 commented on #202
i will take it

[2018-04-02 16:10] pouu97 commented on #209
I'll take it

[2018-04-02 16:23] hy-kiera commented on #126
I'll take it

[2018-04-02 16:34] hyobins commented on #183
i will take it

[2018-04-02 16:46] ksccmp commented on #218
i'll take it

[2018-04-02 16:52] hy-kiera commented on #126
@inureyes 기체 색깔 선택하는 playMenu에서 요격이 가능하게 할 것인지 아닌지 선택할 수 있게 구현하는 건가요??

[2018-04-02 16:54] dudu0166 commented on #204
#220 Resolved

[2018-04-02 17:09] hy-kiera opened #222 "두번째 quit때 menu로 돌아간다."
두번째 창의 quit 버튼을 누르면 게임이 꺼지지 않고 menu로 돌아간다.
일부러 이렇게 한 것인가요??

[2018-04-02 17:10] #222 closed

[2018-04-02 17:13] dudu0166 opened #223 "게임 시작 후 위,아래 방향키를 입력 후 엔터를 누르면 메뉴 이벤트가 발생하는 버그가 존재합니다."
ex) play ->grey->play -> 아래방향키 한 번 메인화면 복귀
      play ->grey->play -> 아래방향키 두 번 게임 종료

[2018-04-02 17:14] bean3 commented on #223
i will take it

[2018-04-02 18:14] StillnessFate commented on #207
#227 I added this feature and sent a pull request.

[2018-04-02 18:40] ksccmp commented on #97
i'll take it

[2018-04-02 19:49] MoonJeWoong commented on #209
I`ll take it

[2018-04-03 00:45] inureyes commented on #206
#226

[2018-04-03 00:47] inureyes opened #229 "스테이지 배경을 연속된 느낌을 주는 이미지로 바꾸기"
* #226 에서 추가된 스테이지 배경 파일들은 기존과 다르게 연속된 스테이지의 느낌이 나지 않습니다.
 * 배경파일들 모두를 연속된 느낌을 주는 스테이지 이미지로 교체합시다.

[2018-04-03 00:49] YeomJihoon commented on #229
* 새벽에 5스테이지마다 배경이 바뀌게 구현해 두었습니다.
이걸 하실 분은 그냥 연속된 느낌의 이미지파일만 구해서 바꾸시면 될 것 같습니다.

[2018-04-03 00:59] Taewan-P commented on #166
벌써 해결이 완료된것 같군요 #228

[2018-04-03 00:59] #166 closed

[2018-04-03 00:59] inureyes opened #230 "차지샷 충전 중에 일반 총알 발사 블럭"
* 차지샷 충전 중에는 일반 총알 발사가 되지 않도록 한다.

[2018-04-03 01:03] Verssae commented on #180
resolve this issue by #217

[2018-04-03 01:03] #180 closed

[2018-04-03 01:04] inureyes opened #231 "무한 차지샷이 나감"
차지샷을 쏘다 보면 충전 안해도 무한히 차지샷이 나가는 버그가 있음.

[2018-04-03 01:06] #202 closed

[2018-04-03 01:10] Taewan-P opened #232 "게임시작 직전 사진 해상도"
![image](https://user-images.githubusercontent.com/27392567/38223696-1efe8196-3727-11e8-969a-3088f3807514.png)

게임시작 직전에 사진크기가 조정되지 않았습니다

[2018-04-03 01:12] inureyes commented on #106
@PrismSpirit if you delete `self.scoreSpeedUp = 1.1`, every scoring routine related to that variable will stop working. Need a better solution.

[2018-04-03 01:16] #218 closed

[2018-04-03 01:21] Taewan-P opened #233 "맥 OS에서 게임을 돌릴때"
키입력을 한글로 하고 게임을 시작하게 되는경우 일시정지 키나 궁극기 키가 작동하지 않습니다.
게임도중에 영어로 입력을 변경하고 키를 눌러도 변화가 없기에 수정이 필요한것 같습니다.

[2018-04-03 02:09] #186 closed

[2018-04-03 02:10] inureyes commented on #229
It does not look like infinite. Pull requests are welcome!

[2018-04-03 02:21] StillnessFate commented on #231
I will take it

[2018-04-03 02:27] StillnessFate commented on #230
I will take it

[2018-04-03 02:41] PrismSpirit opened #238 "게임 내 타이틀 BGM 과 스테이지 BGM 구분"
타이틀 BGM과 스테이지 BGM이 동일해 너무 단조롭습니다
타이틀과 스테이지 BGM을 구분해주세요

[2018-04-03 02:42] inureyes opened #239 "통합된 옵션 메뉴"
* 게임을 시작할 때 다양한 옵션을 지정할 수 있게 한다.
 * 지금 코드는 너무 단축키가 많은데, 옵션에서 일괄적으로 지정할 수 있는 별도 메뉴가 필요하다.
 * 옵션으로 뺄 수 있는 것들
  * [ ] 도탄모드
  * [ ] 초기 비행기 갯수
  * [ ] 속도 (난이도)

[2018-04-03 02:42] RDCPP commented on #183
I added function about this issue first

[2018-04-03 02:43] #126 closed

[2018-04-03 02:55] Aricsa commented on #239
i'll take it

[2018-04-03 02:55] Aricsa commented on #238
i'll take it

[2018-04-03 03:03] onnoo opened #241 "개발자용 안내서"
뒤늦게 Galtron에 contribution을 하려는데 초기와 코드가 많이 달라져서 개발에 참여하기에 어려움이 많습니다.

작년 수업에서 소프트웨어에 대한 개발자용 문서를 작성했던 기억이 나서
혹시 Galtron에도 개발자용 문서를 만들 수 있을까요.

[2018-04-03 03:37] StillnessFate opened #243 "※Avoid conflicts and make changes after you understand the code.※"
#227 I added a charge shot via this pull request. There was no original bug, but there is currently a bug.
After analyzing the cause, we found that these pull requests are the cause. #228 #234 #235

-#228 This problem has already been fixed in #227. The code from line 98 of the deleted gameFunctions.py here is the normal key event handling code. Also, this caused the #231 issue because of the remo

[2018-04-03 03:41] StillnessFate commented on #243
I will fix these problems after a while.

[2018-04-03 04:05] StillnessFate commented on #97
@ksccmp This is not what I want. You misunderstand the content of the issue. You should be able to manipulate the menu with your mouse, not by manipulating ship with your mouse. #221

[2018-04-03 04:12] jil8885 commented on #243
I already resolve issue https://github.com/inureyes/Galtron/issues/82 by making ship.shoot variable. If you want to add charge shoot on this code, you should maintain previous functions. But you ignored this and overlapped your own code. I spent almost a week to understand its code and I almost understand about it.  You shouldn't scorn me and have to learn about modularization before you add your

[2018-04-03 05:34] Verssae commented on #89
resolved by @habby9000 at #147

[2018-04-03 05:34] Verssae commented on #89
resolved by @habby9000 at #147

[2018-04-03 05:34] #89 closed

[2018-04-03 06:11] StillnessFate commented on #243
@jil8885 You misunderstand my modifications. I have not changed your code. (# 82 auto fire)
Your code using ship.shoot did not work because input events were duplicated due to # 192 cf2fe97 (gameFunctions.py line 87).
So I modified the duplicate code to solve this problem. And so your code worked normally.
All of the above are included in # 207.

[2018-04-03 06:15] jil8885 commented on #243
But when I pull from this repo this morning, I found that there is duplicated code on them. So I delete duplicated code. I think that at that time your code was not merged yet, so after this time, your and my code are different. I apologize you that I was out of line that I was angry at that time

[2018-04-03 06:25] StillnessFate commented on #243
You do not need to worry about it. Probably because multiple pull requests are combined at once.

[2018-04-03 06:52] Goodkorning commented on #215
I will take it

[2018-04-03 07:04] hyobins commented on #87
I'll take it

[2018-04-03 07:35] Goodkorning commented on #215
#246
play버튼을 눌러야 라이프 카운트 기체가 변경되는 문제가 있습니다.

[2018-04-03 07:35] StillnessFate commented on #145
#189 Resolved.

[2018-04-03 07:35] #145 closed

[2018-04-03 08:22] StillnessFate commented on #231
#245 I solved the problem and sent a pull request.

[2018-04-03 08:45] StillnessFate commented on #198
I will take it

[2018-04-03 09:13] hy-kiera opened #248 "3번째 배경에서 필살기, 플레이어 기체가 연속적으로 그려지는 버그"
3번째 배경이 나올때, 배경이 한번 돌고 새로 나올때 그림이 지워지지 않고 계속 그려지는 버그가 있다.
<img width="551" alt="2018-04-03 6 10 50" src="https://user-images.githubusercontent.com/27283638/38240398-75ea53fc-376a-11e8-8550-77acc329f758.png">

[2018-04-03 09:29] StillnessFate commented on #198
#249 I solved the problem and sent a pull request.

[2018-04-03 09:30] hoonski commented on #98
I will take it.

[2018-04-03 09:38] xodh opened #250 "상단 UI가 제대로 표시되는 않는 문제"
잘 표시되도록 수정합시다!

[2018-04-03 09:38] StillnessFate commented on #250
I will take it

[2018-04-03 09:57] Taewan-P commented on #248
사진이 계속 순환하는데 순환하는 끝?부분에서 생기는것 같아요

[2018-04-03 09:57] Taewan-P commented on #250
@xodh 조금 더 구체적으로 설명해 주시면 좋을것 같아요

[2018-04-03 09:59] StillnessFate commented on #232
#234 Resolved.

[2018-04-03 09:59] #232 closed

[2018-04-03 10:01] StillnessFate commented on #250
#251 I solved the problem and sent a pull request. But i think I need to make a new HUD.

[2018-04-03 10:03] hy-kiera commented on #248
3번째 배경만 그래요

[2018-04-03 10:05] StillnessFate commented on #230
@inureyes To resolve this issue, you must remove or change the auto-fire feature. Please tell me your detailed requirements.

[2018-04-03 10:40] StillnessFate commented on #248
#249 A fix for this problem is included.

[2018-04-03 10:51] StillnessFate commented on #204
#227 Resolved.

[2018-04-03 10:51] #204 closed

[2018-04-03 12:45] #223 closed

[2018-04-03 12:53] StillnessFate commented on #135
This issue has been resolved.

[2018-04-03 12:53] #135 closed

[2018-04-03 12:59] StillnessFate commented on #95
#155 This issue has been resolved.

[2018-04-03 12:59] #95 closed

[2018-04-03 13:05] StillnessFate commented on #82
#170, #227 This issue has been resolved.

[2018-04-03 13:05] #82 closed

[2018-04-03 13:07] StillnessFate commented on #81
#207 There are issues similar to this issue.

[2018-04-03 13:11] hyobins commented on #87
#255
Add GameOver Scene(#87) is solved

[2018-04-03 13:31] StillnessFate commented on #80
This issue has been resolved.

[2018-04-03 13:31] #80 closed

[2018-04-03 13:33] StillnessFate commented on #69
This issue has been resolved.

[2018-04-03 13:33] #69 closed

[2018-04-03 13:41] #215 closed

[2018-04-03 13:49] inureyes commented on #241
네 한 번 만들어봅시다. 내일 수업때 이야기해 보도록 해요.

[2018-04-03 14:05] #243 closed

[2018-04-03 14:09] StillnessFate commented on #250
#251 Resolved.

[2018-04-03 14:09] #250 closed

[2018-04-03 14:09] #198 closed

[2018-04-03 14:25] #209 closed

[2018-04-03 14:28] hy-kiera commented on #125
Please close this issue

[2018-04-03 14:29] #125 closed

[2018-04-03 14:33] StillnessFate opened #261 "Create a new HUD"
Currently used HUDs look coarse and lack scalability.
Therefore, there is a need to create a simple and cool new HUD. The newly created HUD should not interfere with playing the game and should not look messy.
The new HUD selects one of two major types.

1. A simple-shaped HUD that is displayed directly on the game screen.
2. It is a HUD that occupies a certain area of the game screen and is indep

[2018-04-03 14:38] hy-kiera opened #262 "스테이지 올라갈때 3초간 무적 상태"
마우스로 ship을 컨트롤하면서 플레이 중에 ship이 중간에 있을 때 적을 다 처치하는 경우, 스테이지가 변하고 적이 새로 생기면 alien과 ship이 충돌해 목숨이 금방 사라진다. 스테이지가 올라가면 플레이어가 재정비를 할 수 있게 2~3초간 무적 상태(can not shoot)가 되게 한다.

[2018-04-03 14:56] hy-kiera commented on #239
chekbox같은 거로 상용 게임 옵션 설정같이 구현하면 좋을 것 같아요
그리고 음향 크기도 설정할 수 있게 해도 좋지 않을까요?

[2018-04-03 15:11] hy-kiera commented on #86
I'll take it

[2018-04-03 15:26] Verssae commented on #262
I will solve it

[2018-04-03 15:35] ksccmp commented on #66
i'll take it

[2018-04-03 15:54] Taewan-P commented on #106
@PrismSpirit ![image](https://user-images.githubusercontent.com/27392567/38260472-a4a6bb62-37a2-11e8-9bf0-2414c10911ca.png)
점수 인플레이션이 다시 생겼습니다...

[2018-04-03 15:58] Taewan-P commented on #106
특히 5스테이지 부터 갑자기 증가합니다. 참고바랍니다

[2018-04-03 16:39] StillnessFate opened #267 "※Do not commit unnecessary files※"
Several people include unnecessary files when sending a pull request. (*.pyc, .DS_Store, ...) These are files that have nothing to do with the project. (Python cache files, MacOS file system related files) These files are included in .gitignore, so it is normal to be excluded from commits. (3ba1e3b, 4cd922e)
However, if .gitignore does not apply, it is recommended to reset it via the following two

[2018-04-04 01:54] #262 closed

[2018-04-04 01:58] inureyes opened #268 "Spring clean!"
* Spring clean!
 * I'll refactor all codes with Python coding convention

[2018-04-04 02:09] #268 closed

[2018-04-04 02:26] StillnessFate commented on #231
#245 Resolved.

[2018-04-04 02:26] #231 closed

[2018-04-04 03:54] Verssae commented on #261
I will solve it.

[2018-04-04 05:40] #108 closed

[2018-04-04 05:48] RDCPP commented on #127
i will take it

[2018-04-04 05:51] #76 closed

[2018-04-04 05:55] kyj0701 opened #269 "도탄 기능을 단축키가 아니라 옵션으로 추가"
지금은 도탄 기능이 C 키를 누르는 것으로 활성화됩니다.
옵션으로 넣어서 게임을 하기 전에 바꿀 수 있도록 하는 것은 어떨까요?

[2018-04-04 08:51] Taewan-P commented on #106
이슈를 새로 파겠습니당...

[2018-04-04 08:51] #106 closed

[2018-04-04 08:53] Taewan-P opened #270 "5스테이지 부터 증가하는 점수 인플레이션"
![image](https://user-images.githubusercontent.com/27392567/38260472-a4a6bb62-37a2-11e8-9bf0-2414c10911ca.png)

점수 인플레이션이 다시 생겼습니다. 특히 4스테이지 까지는 멀쩡하지만 5스테이지부터 점수가 급증합니다. 결국 20스테이지 까지 가면 점수가 사진과 같이 됩니다. 좀더 점수 증가폭을 낮췄으면 좋겠습니다. (1~4스테이지는 적당합니다.)

[2018-04-04 08:53] PrismSpirit commented on #270
I'll take it.

[2018-04-04 08:57] kyj0701 commented on #269
I'll take it

[2018-04-04 11:15] Keunmo commented on #127
issue 102랑 겹치는거 같습니다만..?

[2018-04-04 11:16] Keunmo commented on #132
i'll take it

[2018-04-04 12:34] inureyes commented on #127
@Keunmo 딱히 겹치진 않는것 같네요. 중복 구현을 막기 위해 아이템 처리에 대한 통합 프레임웍이 필요하겠네요.

[2018-04-04 15:48] StillnessFate opened #275 "버그 코드 수정 관련"
한 이슈를 해결하기 위해 다양한 부분을 수정해야 했기 때문에 평소 주의 깊게 보지 않았던 소스파일들을 열어보니 여러 잘못된 코드들이 발견되었습니다.
수업에서 자신이 만든 이슈를 자신이 직접 해결할 수 없는 걸로 알고 있는데, 이럴 경우 어떻게 잘못된 부분을 수정해야 할지 궁금합니다.

1. 모든 수정이 필요한 코드 부분(라인)에 대한 이슈를 만들고 다른 사람이 해결하는 것을 기다린다.

2. 이슈를 발행하지 않고, 잘못된 부분을 해결한 뒤 수정 내용을 기재한 Pull Request를 작성한다.

[2018-04-04 15:50] Taewan-P commented on #275
@StillnessFate 이번주부터 자기가 발행한 이슈 자기가 해결해도 된데요!

[2018-04-04 15:51] StillnessFate commented on #275
@Taewan-P 아 그렇군요! 감사합니다.

[2018-04-04 22:28] StillnessFate opened #277 "잘못된 코드들의 수정과 성능 개선"
#276
버그가 있거나, 중복 호출 혹은 불필요한 처리로 성능을 하락시시는 코드들을 수정하였습니다. 수정된 내용들이 작성되어 있으니 참고하실 수 있습니다...

[2018-04-05 05:17] jil8885 commented on #233
I'll fix this issue

[2018-04-05 06:41] kyj0701 commented on #78
#98 과 겹칩니다. 이슈 닫겠습니다.

[2018-04-05 06:41] #78 closed

[2018-04-05 06:41] kyj0701 commented on #98
I will take it.

[2018-04-05 08:45] Verssae opened #282 "함선이 마우스 위치로 이동하는 문제"
현재 게임 내에서 함선이 마우스의 위치로 이동하는 현상이 있다. 이는 #97 이슈를 잘못 이해하고 해결하면서 생긴 버그이다. 마우스 포인터가 UI 클릭 시에 사용되도록 수정하자.

[2018-04-05 08:46] StillnessFate commented on #282
I will solve this issue.

[2018-04-05 17:04] StillnessFate commented on #233
If this bug has been resolved please close the issue. I can not confirm this because I do not use macOS.

[2018-04-05 17:09] Taewan-P commented on #233
@StillnessFate 넵 지금확인해볼께요

[2018-04-05 17:18] Taewan-P commented on #233
해결완료 #280

[2018-04-05 17:18] #233 closed

[2018-04-05 17:21] Taewan-P opened #288 "궁극기를 사용할때"
궁극기를 사용할때 현재 문제점이 두가지가 있습니다.

- [ ] 궁극기가 사용되는 동안에는 총알을 쏘지 못합니다.
- [ ] 궁극기를 사용하여 한 스테이지가 끝났을때에 궁극기 총알이 남아있어서 그 다음 스테이지까지 깨버리는 경우가 발생합니다.

이 두가지를 해결하면 좋겠습니다.

[2018-04-05 17:24] Taewan-P opened #289 "차지샷 쓰는 동안 일반 총알이 나가는 현상"
현재 차지샷을 쓰는 동안에도 총알이 나가고 있습니다. 차지샷을 충전하는 동안에는 일반 총알이 나가지 않게 해야된다고 생각합니다.

p.s. 혹시 이걸 의도적으로 기능을 넣은건가요? 아니면 버그인가요??
의도적으로 기능을 넣은거면 issue를 닫겠습니다.

[2018-04-05 17:30] Taewan-P commented on #289
중복이므로 닫겠습니다... 분명히 봤는데 안보여서 다시 썻는데 이제 보이네요

[2018-04-05 17:30] #289 closed

[2018-04-05 17:32] Taewan-P commented on #230
@StillnessFate 지속적으로 버튼을 눌렀을 때 자동발사 되는기능을 없애는게 어떨까요

[2018-04-06 00:50] Taewan-P commented on #229
지금 어느정도 해결되지 않았나요? 배경확인해보니깐 연속적인 느낌이 나던데

[2018-04-06 01:06] Verssae commented on #288
나중에 물 흐르듯 연속적인 스테이지 구조로 바꿀 예정이라 적을 모두 처치 할 때 플레이어가 발사한 총알이 사라지지 않도록 했습니다. (이것이 더 자연스럽지 않을까요?)

[2018-04-06 05:14] RDCPP commented on #104
I'll take it

[2018-04-06 08:12] TideProphet opened #290 "함선의 공간이동 문제 해결"
아군 기체가 측면의 끝까지 이동한 뒤 해당 방향으로 더 이동할 경우 정반대편으로 기체가 넘어가는 현상이 발생합니다.
이런 축지법 현상은 게임을 진행할 때 편법으로 악용될 수 있으며 플레이어가 직관적으로 생각했을 때 일어나지 않아야 할 현상입니다. 따라서 개선이 필요합니다.

* 기체가 측면 모서리에 닿은 상태에서 더이상 해당방향으로 이동하지 못하도록 개선

[2018-04-06 08:26] Taewan-P commented on #290
@TideProphet 이 기능을 처음 넣은 사람이 @hy-kiera 입니다.
서로 한번 이야기 해 보아요.:)

[2018-04-06 08:50] hy-kiera commented on #290
축지법이 아니라 왼쪽 오른쪽이 이어지는 듯(순환)하게 구현해달라는 이슈가 있어서 그렇게 구현한 것입니다:)

[2018-04-06 09:05] TideProphet commented on #290
@Ochodus
이전 이슈를 왜 발행했는지 알고 싶습니다. 해당기능은 직관성을 해치며 플레이시 편법으로 악용될 가능성이 아주 크다고 생각하는데 해당기능이 존재함으로서 생기는 이점과 어떤 의도인지 설명해 주실 수 있나요?

[2018-04-06 09:06] hy-kiera commented on #290
#125 was closed

[2018-04-06 09:19] TideProphet opened #291 "적군의 투사체 발사빈도 증가 및 아군기체 이동속도 증가"
현재 게임진행시 적군 기체가 투사체를 발사하는 횟수가 너무 적습니다.
이 때문에 게임의 난이도가 너무 낮고 회피를 위해 조작할 필요성이 적어 지루합니다.
따라서 적군이 투사체를 더 많이, 더 자주 발사하도록 수정하되 이에 플레이어가 능동적으로 대처할 수 있도록 아군기체의  이동속도를 대폭 상향시키는게 좋을거 같습니다.

* 동시에 투사체를 발사하는 적군의 수 증가
* 적군이 투사체를 다시 발사하는데 걸리는 간격 대폭 감소
* 아군 기체의 기본 이동속도를 60% 정도 증가

[2018-04-06 11:31] Alpacadabra opened #292 "일부 메뉴의 배경화면 변경"
현재 About 메뉴와 타이틀에서 배경화면으로 사용되는 파일은 각각 아래와 같습니다 :

위 파일들의 해상도는 450x550 픽셀이나 현재 게임의 해상도는 550x650 픽셀입니다.
또한 Setting 메뉴의 배경화면은 단순히 디폴트인 검은색 배경에 gfx/fixsettings.png 파일을 불러온 것이며 그다지 멋진 배경화면으로 보이지는 않습니다.

새로운 배경화면들을 제작할 필요가 있어 보입니다.

[2018-04-06 12:06] Alpacadabra opened #293 "메뉴 이동과 관련된 두 가지 버그"
### Play 메뉴를 한번 거치고 나면 다시는 타이틀 배경음악인 galtron.mp3가 재생되지 않음

Play 메뉴로 이동한 후 타이틀로 돌아가기 위해서는
- 그대로 다시 타이틀로 돌아간다.
- 기체를 선택하면 나오는 선택지를 통해 바로 타이틀로 돌아가거나, pause 후 타이틀로 돌아간다.

위 두 가지 행동 중 하나를 취해야 하는데, 두 경우 모두 타이틀 배경음악인 galtron.mp3가 아닌 스테이지 배경음악 galtron-stage.mp3가 재생됩니다. 이후로는 어떤 짓을 해도 galtron.mp3가 재생되는 일이 없습니다.

### 게임 중 타이틀로 이동한 후 다시 게임을 시작해도 이전 게임의 일부 정보가 유지됨

게임을 플레이하다가 pause 후 타이틀로 돌아가서 다시 게임을 시작해도 완전히

[2018-04-06 13:31] Taewan-P commented on #293
@Alpacadabra 두번째 버그 사항은 #172 번 이슈와 겹칩니다. 하지만 아직 해결되지 않았기 때문에 위에 @Aricsa 님은 둘다 해결하셔도 될 것 같네요!

[2018-04-06 13:37] TigerP-MS commented on #292
i will take it

[2018-04-06 13:57] Alpacadabra commented on #293
@Taewan-P 겹치는걸 뒤늦게 확인했네요. 죄송합니다.

두번째는 #172 의 예시 정도로만 생각해 주시면 감사하겠습니다.

[2018-04-07 13:33] StillnessFate opened #296 "1인 플레이 모드와 2인 플레이 모드의 병합."
#295 해당 이슈 하단에 있는 내용과 같습니다. 현재 gameFunctions.py와 twoPlayer.py의 별개 파일로 나누어져 있는 두 모드를 하나로 병합합니다. 선택된 모드에 따라 일부 추가적인 처리가 이루어지는 형식입니다.

[2018-04-07 13:41] StillnessFate commented on #282
#294 I solved the problem and sent a pull request.

[2018-04-07 13:42] StillnessFate commented on #97
#294

[2018-04-07 14:51] StillnessFate commented on #207
#227 Completed.

[2018-04-07 14:51] #207 closed

[2018-04-07 15:12] inureyes opened #297 "도움말 문서 위키 작성"
* 도움말 문서 위키를 작성합니다.
 * 위키의 내용
  * 소개
  * 설치 및 실행 방법
  * 플레이 방법
  * 플레이 규칙
  * 개발 참여 방법
  * 개발자 문서

이 이슈는 여러 사람들이 참여할 수 있습니다. 참여하신 후에 어떤 부분을 수정했는지 설명과 기록을 남겨주세요.

[2018-04-07 15:19] TideProphet opened #298 "차지샷이 적을 관통하도록 변경"
현재 차지샷은 일반 사격과 동일하게, 적에게 피해를 줄경우 사라집니다.
이 경우 차지샷을 사용시 얻는 이점이 전혀 없게 됩니다.
따라서 차지샷이 적에게 피해를 주더라도 사라지지 않고, 타격시킨 적의 수와 상관없이 맵의 끝까지 나아가도록 변경해야 합니다.

* 차지샷이 맵의 끝에 닿기 전까지 사라지지 않도록 변경 (혹은 적을 5번타격시 사라지도록 변경)

[2018-04-07 15:26] inureyes opened #299 "새 비행기용 디자인"
* 현재 비행기의 디자인이 너무 단순합니다.
 * 새 비행기의 디자인을 그려서 추가합니다.
 * 디자인을 그려주시는 분들께서는 바로 브렌치에 넣지 마시고, 이 이슈의 댓글로 이미지를 첨부해주세요.
 * 여러 사람이 여러번 제안하셔도 됩니다.
 * 수정 및 결정 후 maintenance 팀에서 코드에 반영하도록 하겠습니다.

[2018-04-07 15:27] inureyes opened #300 "적 비행기 디자인"
* 다양한 적들을 위한 비행기 디자인들이 필요합니다.
 * 새 적 비행기의 디자인을 그려서 추가합니다.
 * 다양한 크기의 적 디자인을 그려주시면 됩니다.
 * 디자인을 그려주시는 분들께서는 바로 브렌치에 넣지 마시고, 이 이슈의 댓글로 이미지를 첨부해주세요.
 * 여러 사람이 여러번 제안하셔도 됩니다.
 * 수정 및 결정 후 maintenance 팀에서 코드에 반영하도록 하겠습니다.

[2018-04-07 15:40] StillnessFate commented on #299
![player_ship](https://user-images.githubusercontent.com/26472978/38456914-cea48014-3ac4-11e8-9457-617eb9e549c4.png)
#185 이슈에서 요구된 게임 진행방식의 변경과 더불어 여러가지 수정을 위해 준비해놓았던 이미지들 중 플레이어 함선의 이미지입니다. 색상은 자유롭게 변경 가능하고, 베이스가 노멀맵이 적용된 3d 모델이기 때문에 #183 이슈에서 요구한 좌우로 기울어진 스프라이트가 존재합니다.

[2018-04-07 15:59] StillnessFate commented on #300
<타입 1>
![alien1](https://user-images.githubusercontent.com/26472978/38457052-9ef82724-3ac6-11e8-9822-cff220b34004.png) ![alien2](https://user-images.githubusercontent.com/26472978/38457053-9f1ff8da-3ac6-11e8-8978-959e4135d0e8.png) ![alien3](https://user-images.githubusercontent.com/26472978/38457054-9f46253c-3ac6-11e8-9e6d-1ae3bc7077a5.png) ![alien4](https://user-images.githubusercontent.com/26472

[2018-04-07 16:06] #277 closed

[2018-04-07 16:07] StillnessFate commented on #282
#294 Resolved.

[2018-04-07 16:07] #282 closed

[2018-04-07 16:07] #97 closed

[2018-04-07 16:25] Keunmo commented on #291
i'll take it

[2018-04-07 16:29] Keunmo commented on #185
i'll take it

[2018-04-07 17:08] StillnessFate opened #302 "게임 플레이시 심한 성능 저하(렉) 수정"
몇몇 Pull Request가 병합되고 난 이후 또 게임 플레이시 심한 성능 저하가 일어납니다. 원인을 찾아 해결해야합니다.

[2018-04-07 19:00] StillnessFate opened #303 "게임 시작 시 스테이지 클리어 효과음이 재생되고 일정 시간동안 효과음이 재생되지 않는 문제"
게임이 처음 시작할 시에 스테이지 클리어 효과음이 매우 크게 한번 들리고 몇초간 다른 효과음이 재생되지 않습니다.

[2018-04-07 19:15] StillnessFate commented on #183
#304

[2018-04-07 19:38] StillnessFate commented on #302
#305

[2018-04-07 19:52] StillnessFate commented on #303
#306

[2018-04-07 22:41] StillnessFate opened #308 "배경을 그리는 코드가 완전히 변경되었습니다! (#211)"
Pull Request: #309
이슈 #211 에서 요구한 멀티 레이어 백그라운드를 구현하기 위해 백그라운드를 관리하는 BackgroundManager 클래스를 만들었습니다.

기본적인 사용법은 다음과 같습니다.
- 백그라운드 추가
[code]
BackgroundManager 인스턴스를 생성한 후, addBackground(name, imagePath, moveSpeedX, moveSpeedY) 메서드를 통해 백그라운드를 추가합니다. 백그라운드의 이름과 사용할 배경이미지 경로, 그리고 스크롤 속도를 인자로 받습니다. 그리고 setFillColor(fillColor) 메서드를 통해 기본 배경색을 지정할 수 있습니다(없을 경우 None). 같은 이름으로 여러개의 백그라운드를 추가할 경우에는 자동적으로 멀티레이

[2018-04-07 22:46] StillnessFate commented on #211
#309

[2018-04-07 23:10] StillnessFate commented on #138
#299

[2018-04-07 23:10] #138 closed

[2018-04-07 23:11] StillnessFate commented on #128
#300

[2018-04-07 23:11] #128 closed

[2018-04-07 23:52] StillnessFate commented on #270
274

[2018-04-07 23:52] #270 closed

[2018-04-07 23:54] StillnessFate commented on #241
#297

[2018-04-08 03:03] jaeheeLee17 commented on #297
i will take it

[2018-04-08 05:37] #298 closed

[2018-04-08 05:39] #302 closed

[2018-04-08 05:49] #203 closed

[2018-04-08 05:49] #229 closed

[2018-04-08 05:50] inureyes commented on #229
@Taewan-P 이제 background 부분이 분리가 되었습니다. #211

[2018-04-08 06:02] #308 closed

[2018-04-08 06:05] inureyes commented on #290
@TideProphet 뭐 고전 슈팅게임은 보통 화면 좌우 연속 스크롤이 지원되는 경우가 많긴 합니다. (저조차도 고전으로 느껴질 정도의 게임들이긴 하지만요.) 특히 이 게임 소스의 오리지널인 galaga의 경우 개조판들은 이 기능을 지원 많이 했으므로 이상한 것은 아닙니다.

게임성에 영향을 받는다고 생각하면 그 부분을 이슈로 발행하고, Game design project에 등록한 후에 수정하면 되겠습니다. 지난주까지는 일관된 게임 방법에 대한 논의가 없었으므로 이젠 논의해보면 되겠네요.

[2018-04-08 06:08] #267 closed

[2018-04-08 06:11] inureyes commented on #230
@StillnessFate Add two button for shooting.
 * `space` / `z`: normal / charge fire
 * Another button (e.g. `c`"?): autofire

I chose `z` and `c` because `x` is bomb. You can choose `z` as normal / charge shot, `x` as autofire and `c` as bomb. Space bar is for normal / charge shot.

[2018-04-08 06:15] inureyes opened #310 "Blink alien when it is damaged."
* #99 의 영향으로 적들도 한 방에 안 죽습니다.
 * 도탄되었을 떄 적들이 총알을 맞았는지 알려주는 효과가 있어야 하겠습니다.
 * 일반적인 슈팅게임에서는 총에 맞으면 흰 색으로 빛이 납니다. 비슷한 효과를 넣어 봅시다.

[2018-04-08 06:15] #303 closed

[2018-04-08 06:16] inureyes commented on #230
더 나은 아이디어가 있으면 이야기해봅시다.

[2018-04-08 06:25] onnoo commented on #310
I take it.

[2018-04-08 06:30] inureyes commented on #230
차라리 비행기 종류를 두 개 만들어서 하나는 차지샷 전문 하나는 오토파이어 전문 이렇게 가는게 낫겠습니다.

[2018-04-08 11:54] Taewan-P opened #311 "게임 플레이중 갑자기 나오는 차지샷"
말로 상세히 설명하기 힘들어 영상을 올려봅니다.
https://www.youtube.com/watch?v=ceg72as3Emk&feature=youtu.be

영상을 편집하진 못했지만 4분부터 보시면 차지샷을 쏘지도 않았는데 차지샷이 나가는 현상이 발생합니다. 심지어 이 총알은 적군을 타격하지 못합니다. (2분 14초에도 한번 있음)

[2018-04-08 14:52] StillnessFate commented on #311
현재도 발생하는 버그인가요?

[2018-04-08 16:23] TideProphet opened #313 "적 기체의 폭발애니메이션 오류 해결"
현재 적기체가 죽는 순간 뿐만 아니라 피격될 때 마다 폭발애니메이션이 나옵니다.
적 기체가 생명력을 모두 소모하고 파괴되었을 때만 애니메이션이 나오도록 수정해주세요

* 적기체가 죽을 때만 폭발 애니메이션이 나오도록 수정

[2018-04-08 16:26] Taewan-P opened #314 "생명력 아이템에 관한 버그"
현재 생명력 아이템이 추가되면서 여러가지 버그가 추가로 등장하였습니다.
![image](https://user-images.githubusercontent.com/27392567/38469731-6ed4ff58-3b94-11e8-86ba-b1816c608f9b.png)
 - [ ] 생명력 아이템 드랍률이 너무 높습니다. 이를 낮추어야 합니다.
 - [ ] 생명력 아이템 획득 갯수를 제한해야 합니다. 안그러면 UI를 위의 사진과 같이 가리게 됩니다.
 - [ ] 지금 적기체를 여러번 맞추어야 파괴되는데, 생명력 아이템은 기체가 파괴되지 않고 맞추기만 해도 떨어지는 경우가 있습니다. 따라서 기체가 터질 때에만 아이템이 떨어지게끔 수정해야 합니다.

[2018-04-08 16:27] Taewan-P commented on #314
처음에 생명력 갯수를 3개로 조정하고 얻을수 있는 생명력 수는 5 정도가 적당할 것 같습니다.

[2018-04-08 16:29] Taewan-P commented on #299
현재 게임을 시작하기전 기체 색상 선택 옵션이 있는데 어떤 옵션을 클릭해도 빨간색 기체만 뜹니다. 저 기체에서 색상만 조정하여 옵션별로 색깔이 바뀌게끔 하면 좋을것 같습니다.

[2018-04-08 16:35] TideProphet opened #315 "플레이어의 공격력 계수 속성 추가"
추후 다른 패치를 위한 기반으로 플레이어의 공격력 계수 속성을 코드에 추가하였으면 합니다.
또한 동시에 기본 공격이외의 현재 공격에도 이 속성을 이용한 수치를 적용하여야 합니다.

& 추후 다른 아군기체를 추가할 수도 있으므로 ship객체가 가진 속성으로 만드는 것을 권장합니다.

### 플레이어의 공격력 속성을 추가

* 기본공격은 공격력 X1의 피해를 줌
* 차지샷은 1단계(풀차지 이전 발사가능 단계, 주황색)에서 X2의 피해를 풀차지 상태에서 X3의 피해를 줌
* 궁극기의 경우 X3의 피해를 줌

위와 같은 내용을 구현해주셨으면 합니다.

[2018-04-08 16:36] TideProphet commented on #314
@Taewan-P 생명력 개수 관련해서는 다른 변경사항과 함께 하나의 이슈로 발행해보겠습니다

[2018-04-08 16:37] TideProphet commented on #314
생명력 아이템의 드랍률은 2~3%가 적절할 것 같습니다.

[2018-04-08 16:45] TideProphet opened #316 "생명력 소지 개수 제한 및 관련 추가사항 패치"
현재 생명력 아이템이 추가되고 나서, 5개를 넘는 생명력을  보유할 경우 다른 UI까지 넘어가는 현상이 발생합니다.
해당 현상을 수정함과 동시에 다른 부가적인 사항 몇가지를 수정하였으면 합니다.

생명력 최고치를 다른 UI를 침범하지 않는 5로 수정하였으면 하며 그이상 아이템을 얻을 경우 점수로 치환도록 해야합니다.
또한 생명력 아이템을 얻을 수 있게 되었으므로 시작 생명력을 3으로 줄이는 편이 적절할 것 같습니다.

* 시작시 얻는 생명력을 이 5개에서 3개로 하향
* 생명력 보유 갯수를 최대 5로 제한
* 최대치로 생명력을 보유한 상태에서 생명력을 얻을 경우 해당 라운드의 적처치시 얻는 점수X3에 해당하는 점수를 얻도록 설정

[2018-04-08 16:55] TideProphet opened #317 "플레이어의 공격력을 증가시키는 아이템 추가"
현재 라운드가 지날수록 적의 체력만이 증가해 난이도가 부정적인 방향으로 높아지며, 이는 플레이어에게 단순한 벽이됩니다. 플레이어가 이에 대응할 수 있게 하고 공격력을 성장시키는 재미를 더하기 위해 공격력을 증가시키는 아이템을 추가하였으면 합니다.

* 해당 아이템은 플레이어의 기본 공격력을 +1시킴
* 아이템의 드랍률은 2%
(현재 적기체 등장 수와 체력증가 패턴에 적절하다고 생각한 수치입니다. 시험해 보시면서 더 높거나 낮은 수치가 필요하다 생각되시면 적절하다 생각되는 수치를 적용해주세요)

& 본 이슈는 공격력 계수 추가이슈 (#315)가 먼저 해결된 후 그에 맞도록 적용하시는 것을 권장합니다.

[2018-04-08 16:59] TideProphet commented on #317
혹시나 아이템 아이콘 구현이 문제되신다면 제가 아이템 아이콘을 직접 만들어서 올려드리겠습니다.
그러니 그래픽 부분에 대한 부담없이 이 이슈에 도전해보세요.

[2018-04-09 01:25] Verssae commented on #313
#314

[2018-04-09 01:57] Goodkorning opened #319 "생명력 아이템 관련 오류"
화면에 여러 개의 생명력 아이템이 존재할 때

하나를 먹으면 화면에 존재하던 다른 생명력 아이템이 사라집니다.

[2018-04-09 01:58] Goodkorning opened #320 "적 기체의 피격 그래픽과 파괴 그래픽 분리"
적기체가 피격 되었을 때의 그래픽과

파괴 시의 그래픽 분리가 필요합니다.

[2018-04-09 01:59] Goodkorning commented on #320
피격 되었을 때의 이펙트를 삭제하고

점점 망가져가는 기체 그래픽을 추가하는게 더 좋을 것 같습니다.

[2018-04-09 02:01] #319 closed

[2018-04-09 02:03] Goodkorning commented on #313
기체가 피격 되면 점점 망가져가는 것을 그래픽을 표현해주면 좋을것 같습니다.

[2018-04-09 03:47] jaeheeLee17 commented on #297
I added the explanation about how to install and play Galtron for users. f0ff069

[2018-04-09 04:00] TideProphet commented on #313
단순한 애니메이션이 아닌 사망판정 버그로 확인되었기 때문에 #314 에 추가사항을 달고 이 이슈를 닫겠습니다.

[2018-04-09 04:00] #313 closed

[2018-04-09 04:04] TideProphet commented on #314
적 기체의 체력이 1보다 높은 상태에서 적 기체가 피격될 경우, 아이템을 드랍할 뿐 만아니라, 폭발애니메이션이 나오고 점수도 오릅니다. 아마도 체력이 깍일 때 마다 파괴판정이 계속 나오는 것 같습니다.
사망관련 이슈 내용을 제가 발행한 #316 로 옮기고, 해당이슈에 존재하는 내용들을 이 이슈로 옮겨서 정리하는게 어떨까요?

[2018-04-09 04:32] Taewan-P commented on #314
@TideProphet Verssae님이 부분적으로 해결하였습니다.

[2018-04-09 05:07] PrismSpirit opened #323 "차지샷이 적을 관통하지 못하는 오류"
적 체력 추가 이후 차지샷이 적을 관통하지 못하는 오류가 생겼습니다.

[2018-04-09 05:43] Verssae commented on #323
@PrismSpirit 차지샷 데미지가 적 체력보다 낮은거지 오류가 아닙니다. 나중에 레벨 디자인 하면서 수정하면 될 것 같습니다.

[2018-04-09 06:24] jil8885 commented on #323
차지샷이 기존 코드가 기존 총알보다 데미지를 높인 것이 아닌, 기존 총알과 데미지는 같지만 관통이 되게 만들어졌고 이미 merge된 것으로 압니다. 총알 데미지가 적 체력보다 낮아 관통이 안 된다는 것은 말이 안됩니다.

[2018-04-09 06:26] PrismSpirit commented on #323
@Verssae 차지샷 데미지를 100으로 설정하고 게임을 실행시켜도 1라운드에서조차 관통이 안됩니다. 오류 맞습니다.

[2018-04-09 06:30] TideProphet commented on #323
이 문제는 기존의 코드들이 적이 총알에 닿자마자 죽을 때를 전제로하고 짜여졌기 때문에 발생한 문제로 보입니다.
레벨 디자인을 개선한다 해도 모든 적이 차지샷 한방에 죽게 설정하는 것은 해결책 이 될 수 없는게  보스라든지 다른 적을 생각하면  계속 발생할 수 밖에 없는 문제가 아닐까요?
좀 더 근본적이 개선이 필요합니다. 하지만 해당 오류 개선이 어려우니 좀 더 설명이 자세하고 큰 이슈로 만드는 편이 좋겠네요.

[2018-04-09 06:59] kyj0701 opened #326 "궁극기로 궁극기가 차는 현상"
궁극기를 사용했을 때 궁극기가 적중할 때에도 궁극기가 찹니다.
밸런스 상 맞지 않다고 생각합니다.

[2018-04-09 07:14] Taewan-P commented on #326
이슈가 겹쳐요...

[2018-04-09 07:17] TideProphet opened #328 "생명력 아이템이 사라지는 현상 해결"
현재 생명력 아이템을 획득할 시 기존에 드랍되어 있던 나머지 생명력 아이템이 전부 사라집니다.
드랍률이 조정되더라도 2개 이상의 생명력 아이템이 동시에 존재할 가능성이 없는 건 아니기 때문에 해결해야 합니다.

* 생명력 아이템 하나를 획득하면 나머지가 사라지는 현상을 해결

[2018-04-09 07:23] TideProphet opened #329 "차지샷의 크기가 정상적으로 적용되지 않는 문제 해결"
현재 차지샷은 충전 단계에 비래하여 크기가 커집니다. 좋은 기능이죠 :)

그런데 1단계 크기 사이즈와 2단계 크기사이즈가 뒤바뀌어
1단계 충전 사이즈가 2단계 사이즈 탄환의 크기보다 큽니다.

* 탄환 단계 사이즈 변환을 정상적으로 적용되도록 수정

[2018-04-09 07:25] jil8885 commented on #181
I'll take it

[2018-04-09 07:29] jil8885 commented on #328
I'll take it

[2018-04-09 07:34] TideProphet opened #331 "적의 체력증가량 조절"
현재 적의 체력 증가 시스템은
[code]
과 같이 적용됩니다.
스테이지가 증가함에 따라 난이도가 올라가도록 변경한 것은 좋은 의도입니다.
하지만 단순한 상수계수가 적용되어 난이도가 너무 급격하게 올라갑니다.
이에 따라 좀더 복합적인 체력 증가량을 적용함으로써 레벨디자인을 개선하였으면 합니다.

* 체력증가량 공식을 좀 더 세밀화되게 수정
ex)
[code]
위의 예시는 가장 간단한 해결책이며 좀 더 복잡하지만 좋은 공식을 발견하셨다면 그것을 적용하시면 됩니다.

[2018-04-09 07:36] #74 closed

[2018-04-09 07:39] jil8885 commented on #331
I'll take it

[2018-04-09 07:57] ujma1234 commented on #329
i'll take it

[2018-04-09 08:30] TideProphet commented on #297
소개 부분을 보강하고 개발 참여방법을 작성하겠습니다.

[2018-04-09 09:05] #184 closed

[2018-04-09 09:13] jil8885 commented on #291
I'll take it

[2018-04-09 09:26] Verssae opened #333 "무적 및 게임 메커니즘 수정"
* 무적시 Dodged!대신 SHIELD를 기체 앞에 보이게끔 updatedInvinciblity함수를 구현
* 많은 merge로 인해 충돌 시 무적 효과를 주는 코드가 사라져있으므로 복구
* 적이 등장하는 것이 물 흐르듯 등장하는 구조로 바뀔 예정이므로, 적을 모두 죽이면 적의 총알을 모두 없애지 않고 그대로 유지시키되, 무적효과를 줌(지금은 바로 적이 생성되므로 )
* 피격 시 center로 돌아가지 않고 무적효과를 주고 모든 적 총알을 없애는 게 아닌 맞은 총알만 없앰

* 추후에 SHIELD 대신 blink효과나 보호막 이미지 등으로 교체하면 됨

[2018-04-09 11:56] #314 closed

[2018-04-09 12:05] #329 closed

[2018-04-09 12:52] #181 closed

[2018-04-09 12:52] hy-kiera opened #336 "SHIELD가 활성화될 때"
목숨을 잃을 때 SHIELD가 활성화되는데, 이 때 eBullet에 부딪히면 eBullet이 사라집니다.
목숨이 1개 남았을 때는 SHIELD가 활성화되어 있어도 바로 GAMEOVER됩니다.

[2018-04-09 12:54] Taewan-P commented on #336
I will take it

[2018-04-09 13:06] Taewan-P commented on #336
@hy-kiera 근데 정확하게 무슨 뜻인지 이해를 못했어요....

[2018-04-09 13:16] Taewan-P opened #337 "Pause 버튼을 누를때 나오는 화면 오류"
현재 생명력이 0인 상태에서 Pause 버튼을 누르면 게임오버 화면이 뜹니다. 물론 진짜 게임오버가 되진 않고 다시 플레이를 누르면 마저 플레이가 가능합니다. 이를 수정하면 좋을것 같습니다.

[2018-04-09 13:18] hy-kiera commented on #336
@Taewan-P 게임을 실행시키고 목숨을 잃으면 SHIELD(무적상태)가 활성화 되는데, 그 때 alien이 쏘는 eBullet에 닿으면 닿은 eBullet이 사라집니다.(no damage이고 eBullet이 사라지게 할 지, no damage이고 eBullet에 닿아도 그냥 통과) 그리고 이와 별개로 목숨이 하나 남았을 때(screen에 비행기(목숨)가 1개 남았을 때) SHIELD가 활성화되어 있어도 그냥 GAMEOVER됩니다.(원래는 목숨이 하나 남았을 때 죽어도 목숨표시가 없고 계속 플레이 할 수 있다.)

[2018-04-09 13:20] Taewan-P commented on #336
@hy-kiera 제가 방금 해보니깐 안그렇던데요?...

[2018-04-09 14:09] jil8885 commented on #337
![2018-04-09 11 08 47](https://user-images.githubusercontent.com/10583171/38502683-fffdfa64-3c4a-11e8-9e05-266417e7dda2.png)
저는 pause를 눌르면 오버 화면이 안나오는데 어떻게 눌러야 게임 오버 화면이 나오는지 알 수 있을까요?

[2018-04-09 14:15] #291 closed

[2018-04-09 14:24] #104 closed

[2018-04-09 14:28] Taewan-P commented on #337
"생명력이 0 남은 상태에서 누르면"으로 수정하였습니다

[2018-04-09 14:49] moonkihun commented on #300
여기다

[2018-04-09 14:51] Taewan-P commented on #336
해결완료

[2018-04-09 14:51] #336 closed

[2018-04-09 14:54] Taewan-P commented on #333
@Verssae 이거 그래서 Merge됬나요? 만약 여기 이슈내용 Merge 됬으면 닫아주세요

[2018-04-09 14:54] #333 closed

[2018-04-09 14:56] inureyes opened #341 "발진 애니메이트"
* 처음 시작할 때 아래서 아군 비행기가 슉~ 하고 날아와서 자리를 잡음

[2018-04-09 14:57] inureyes opened #342 "잔기 아이콘 통일"
* 아군 비행기는 디자인이 바뀌었는데 화면 왼쪽 상단 잔기 아이콘은 동일합니다.
 * 같은 아이콘으로 맞춥시다

[2018-04-09 15:00] #316 closed

[2018-04-09 15:13] hy-kiera commented on #342
하트로 바꾸는 것은 어떤가요??

[2018-04-09 15:32] hy-kiera commented on #296
I'll try it:)

[2018-04-09 16:36] hy-kiera commented on #239
i'll take it

[2018-04-09 18:05] #87 closed

[2018-04-09 18:06] #241 closed

[2018-04-10 00:12] inureyes commented on #342
@hy-kiera 그것도 방법인데 슈팅게임에서 목숨이 비행기로 나오는게 일종의 클리셰입니다.

[2018-04-10 00:28] #342 closed

[2018-04-10 00:32] inureyes commented on #238
@Aricsa @Taewan-P Stage BGM is not working now. Can you check current base code and fix the problem?

[2018-04-10 00:35] Taewan-P commented on #238
@inureyes Okay

[2018-04-10 00:39] inureyes commented on #320
@Goodkorning 열자마자 닫은 이유가 따로 있나요? #310 번 이슈와 같은것을 해결하는 것이긴 한데요.

[2018-04-10 02:37] #98 closed

[2018-04-10 02:39] Goodkorning opened #345 "쉴드 이펙트 추가"
쉴드가 활성 되었을때 기체가 깜빡 거리거나 결계 같은 그래픽이 필요합니다.

[2018-04-10 02:43] Goodkorning commented on #320
#313과 같은 주제의 이슈로 생각해서 굳이 다른 이슈를 열기 보다는 밑에 코멘트로 의견 내는 것으로 선택했습니다.

[2018-04-10 02:47] Goodkorning opened #346 "보스가 사용하는 특수 스킬"
지금 보스는 단순히 맷집 센 기체 같아 존재감이 떨어집니다.

보스가 사용하는 특수 스킬 들이나 총알 패턴이 필요합니다.

[2018-04-10 06:05] TideProphet commented on #346
i will take it

[2018-04-10 07:08] PrismSpirit opened #347 "차지샷(대)가 관통이 안되는 오류"
차지샷(소)는 잘 작동하지만 차지샷(대)는 무엇인가 오류가 있어 관통이 되지 않습니다.
코드 수정해주세요.

[2018-04-10 07:08] Taewan-P commented on #347
I will take it

[2018-04-10 07:15] wkd2314 opened #348 "보스의 체력 표시"
몇대더맞으면 죽을지 알고싶습니다.
- [x] 보스가 피격당할 때마다 체력이 감소하는 보스의 체력바를 게임창 상단에 두어서 남은 체력을 확인할 수 있게 하면 좋을거 같아요,

[2018-04-10 08:53] hwangyerim commented on #345
그래픽을 만들고 여기에 이미지 파일을 올리면 되나요? 아니면 이미지를 python에 코드화해서 실제로 작동되게까지 만들어야 하나요?

[2018-04-10 09:25] Ohyulim commented on #292
i wil take it

[2018-04-10 09:25] Choihaeun commented on #292
I will take it

[2018-04-10 10:16] Choihaeun commented on #299
![player_gray](https://user-images.githubusercontent.com/37166105/38551189-8965fa1a-3cf3-11e8-8666-122b42a79377.png)

기체 그레이 색상 추가했습니다.

[2018-04-10 10:37] Choihaeun commented on #299
![player_blue](https://user-images.githubusercontent.com/37166105/38552250-84087e0a-3cf6-11e8-96b0-cc9f9a1a70cb.png)
기체 블루 색상 추가했습니다.

[2018-04-10 10:46] Choihaeun opened #353 "setting 이미지 변경"
검정화면에 흰 글씨로만 되어있는 단조로운 setting menu의 변경이 필요합니다.

[2018-04-10 10:47] Ohyulim commented on #353
i will take it

[2018-04-10 11:00] inureyes commented on #320
@Goodkorning +1

[2018-04-10 11:00] #320 closed

[2018-04-10 11:01] Choihaeun opened #355 "item 변경"
heal item의 디자인 수정

[2018-04-10 11:02] Ohyulim commented on #355
i will take it

[2018-04-10 11:10] Taewan-P commented on #355
@Choihaeun @Ohyulim  이건 의견 조정이 필요하지 않을까요??? 최초로 넣은사람이 직접 아이콘 만들어 넣으신걸로 아는데...

[2018-04-10 11:17] Ohyulim commented on #355
아이콘 뿐만이 아니라 타이틀이나 어바웃 디자인들도 최초 이미지에서 수정되고있는데 이것도 더 나은 디자인으로 수정해도 되지 않을까요?

[2018-04-10 12:06] dudu0166 commented on #293
I'll take it

[2018-04-10 13:00] wkd2314 commented on #88
I will take it

[2018-04-10 13:59] hy-kiera commented on #353
#239 와 함께 새로운 setting menu가 필요합니다.

[2018-04-10 14:15] StillnessFate opened #359 "스테이지 클리어 효과음 재생 문제"
이전에 해결된 #303 이슈와 같습니다. createAlien 함수에서 스테이지 클리어 효과음을 재생할 경우 생성되는 적의 수 만큼 효과음이 중첨되면서 소리가 매우 커지고, 오디오채널을 전부 점유하기 때문에 일시적으로 다른 효과음이 재생되지 않습니다.
버그를 해결하거나 성능을 최적화하여도 이후에 Pull requests 에서 제대로 동기화하지 않은 코드들이 병합되어 같은 문제가 다시 발생하는 일이 많습니다...

[2018-04-10 14:18] StillnessFate commented on #359
#360

[2018-04-10 14:50] Keunmo commented on #355
좋아요~

[2018-04-10 15:01] Keunmo opened #361 "플레이어 ship 색상 변경 안됨"
게임 시작 전 플레이어 ship을 어떤 색깔로 선택하든 빨간색이 나오는 문제가 있습니다.
gray, red, blue에 각각 맞는 playership이미지가 나타나도록 해야합니다.

[2018-04-10 15:06] Keunmo opened #362 "더 다양한 아이템들을 만들고 적용해봅시다"
현재 아이템이 힐 한종류로 단조롭습니다. 다양한 아이템들을 추가해봅시다.
[ ] 스피스
[ ] 쉴드
[ ] 무적
[ ] 샷건

[2018-04-10 15:07] StillnessFate commented on #348
#363

[2018-04-10 15:08] Keunmo commented on #362
i'll take speed.

[2018-04-10 15:12] StillnessFate opened #364 "HARD 난이도에서 보스의 체력이 5로 고정되는 문제"
HARD 난이도에서 보스의 체력이 5로 고정되는 문제

[2018-04-10 15:14] StillnessFate commented on #364
#365

[2018-04-10 15:22] Keunmo opened #366 "파워샷 관련 버그"
파워샷을 쓸 때 일반 총알이 안나갑니다.(혹시 의도된건가요?)
그리고 총알이 안나가는데도 스페이스바만 누르고 있어도 파워샷 게이지가 충전됩니다.

[2018-04-10 15:43] wkd2314 commented on #315
i will take it

[2018-04-10 16:02] Taewan-P commented on #366
네 파워샷을 쓸때 일반 총알이 나가지 않게 해달라는 이슈가 있었어요

[2018-04-10 16:04] Taewan-P commented on #366
#230

[2018-04-10 16:04] #366 closed

[2018-04-10 16:57] wkd2314 commented on #131
I'll take it since 12days has passed!

[2018-04-10 18:03] Alpacadabra commented on #362
쉴드랑 무적을 구분해두신 의도는 알것같은데 지금 상태에서는 두 단어가 거의 같은 의미로 쓰이고 있는걸로 보입니다. 일단 방패 모양 아이템을 먹으면 무적이 되도록 만들겠습니다.

[2018-04-11 01:25] moonkihun commented on #361
i will take it

[2018-04-11 12:42] 0-taku opened #369 "아이템을 못 먹는 버그가 발생합니다."
![2018-04-11 12 34 58](https://user-images.githubusercontent.com/31723018/38617083-9d28aa6a-3d85-11e8-9b1f-3540cbbeea19.png)

위와 같은 상황에서 아이템을 못먹는 경우가 발생합니다.

[2018-04-11 13:04] #347 closed

[2018-04-11 13:07] #353 closed

[2018-04-11 13:17] #122 closed

[2018-04-11 13:18] inureyes commented on #359
@StillnessFate 드디어 왜 iOS 버전업할 떄 마다 과거 버그가 다시 등장하는지 이해하셨군요.

[2018-04-11 13:30] Alpacadabra commented on #300
![ufo1](https://user-images.githubusercontent.com/31719859/38618785-915756f0-3dd5-11e8-8028-dcc48055f0b3.png) ![ufo2](https://user-images.githubusercontent.com/31719859/38618786-918bbecc-3dd5-11e8-88ae-071f88350e54.png) ![ufo3](https://user-images.githubusercontent.com/31719859/38619652-98b9c0ca-3dd7-11e8-84cc-e75b8245cbe1.png)

## UFO
- 플레이어를 공격하지 않습니다. 단 충돌하면 데미지를 입습니다.
- 처치 시 높은 점수를 획득하고, 높은 확률

[2018-04-11 13:35] #364 closed

[2018-04-11 13:37] inureyes commented on #345
@hwangyerim 그래픽은 위에 올라왔으니 코드를 만들 차례가 된 듯 합니다.

[2018-04-11 13:37] inureyes commented on #345
@hwangyerim 더 나은 그래픽이 있다면 여기에 올려도 됩니다!

[2018-04-11 13:38] #359 closed

[2018-04-11 13:38] #331 closed

[2018-04-11 13:39] #328 closed

[2018-04-11 13:39] #323 closed

[2018-04-11 13:40] inureyes commented on #297
@jaeheeLee17  @gunoong011  @TideProphet  @hyobins :+1:

[2018-04-11 13:41] #315 closed

[2018-04-11 13:42] #211 closed

[2018-04-11 13:53] Keunmo commented on #369
그거 아이템 판정 범위가 좁아서 그런듯합니다. 수정해볼께요

[2018-04-11 13:55] inureyes commented on #369
@Keunmo  이미 수정된게 풀리퀘로 와 있는걸로.. 리뷰 기다리는 중입니다.

[2018-04-11 14:29] Alpacadabra opened #371 "적 기체 피격 효과음 추가"
현재 적 기체가 피격당할 때의 효과음과 적 기체가 폭발할 때의 효과음이 같습니다.
듣기 안좋은건 아니지만 구분하는 편이 좋다고 생각합니다.

[2018-04-11 14:32] Keunmo opened #372 "여러가지 버그가 발생하고 있습니다"
1. 플레이어 ship 색상 버그
빨간색 ship을 선택시 Couldn't open gfx/player_red.png 에러메시지를 내보내며 프로그램이 종료됩니다. 색상 기능을 구현하신분은 해당 이미지를 넣어주시기 바랍니다.

2. 이미지 소스 관련 버그
게임 실행 중  libpng warning: iCCP: known incorrect sRGB profile 라는 경고문구가 반복해서 등장합니다.
이 문구는
2-1. 게임 처음 시작시
2-2. Heal 아이템 생성시
나타납니다. 아무래도 바꾼 Heal 아이템 이미지 파일에 문제가 있는듯 싶습니다. (추측입니다. 저도 잘 모릅니다)

[2018-04-11 14:34] Alpacadabra commented on #372
I'll take the second bug.

[2018-04-11 14:52] Alpacadabra opened #373 "보스 체력바와 관련된 버그"
보스 스테이지에서 Pause한 후, 메인으로 돌아가 다시 게임을 시작해도 보스 체력바가 남아있습니다. 죽은 후 Retry해도 남아있습니다. 해결이 필요합니다.

[2018-04-11 15:02] Ramenseller commented on #373
Take it

[2018-04-11 15:26] Keunmo commented on #362
네

[2018-04-11 15:59] hy-kiera opened #379 "스토리"
게임에 스토리가 있으면 좋을 것 같습니다.
예) 스테이지로 구성되어 스테이지를 통과하면 스토리가 진행됨. 적들의 모습이 바뀌어 나오기도 함. 중간 보스, 최종 보스를 무찌르면 게임클리어

[2018-04-11 17:18] van-st commented on #70
I will take it

[2018-04-11 18:11] van-st commented on #379
Take it

[2018-04-11 19:37] 0-taku opened #381 "몇몇 이미지를 불러 올 경우 경고 메세지를 출력 합니다."
![2018-04-12 4 35 04](https://user-images.githubusercontent.com/31723018/38639036-07675f9a-3e0b-11e8-9dd4-4c67b3f9f8a2.png)

위의 터미널과 같이 새로 추가된 하트 아이템과 같은 몇몇 이미지가 그려질때 오류가 생기는 것을 발견 할 수 있습니다.

[2018-04-12 00:03] Alpacadabra commented on #381
이미 #372 에서 언급된 내용입니다.

[2018-04-12 02:03] hy-kiera commented on #379
@van-st Game design팀 내에서 상의해서 스토리를 짜면 좋을 것 같습니다.

[2018-04-12 02:04] #381 closed

[2018-04-12 03:53] #373 closed

[2018-04-12 04:04] jaeheeLee17 commented on #361
i will take it

[2018-04-12 04:14] Coding-Fairy commented on #372
A single issue, A single bug. Please seperate each issue.

[2018-04-12 04:39] 0-taku opened #385 "같은 아이템이 서로 다른 사이즈로 나타나면 좋을 것 같습니다."
같은 아이템이 여러 크기로 드랍 되고 크기에 따라 기능의 성능이 다르면 좋을 것 같습니다.
예를 들면 하트의 가장 작은 사이즈는 라이프 + 1, 중간 사이즈는 라이프+2, 가장 큰 사이즈는 라이프 + 3,
쉴드는 가장 작은 사이즈는 쉴드 시간 : 1초, 중간사이즈는 1.5초, 가장 큰 사이즈는 2초 등등으로 설정하고
드랍 확률은 소:중:대 = 60:30:10 정도로 코드를 작성한다고 합시다.
같은 아이템이 여러 크기로 드랍 되고 크기에 따라 기능의 성능이 다르면 게임의 전략적 요소가 증가 할 것 같습니다.

[2018-04-12 05:06] Aricsa commented on #379
Take it

[2018-04-12 05:29] Alpacadabra opened #386 "아이템 획득 효과음 추가"
아이템을 먹어도 아무런 효과음이 나지 않으니 조금 허전합니다.
아이템을 획득하면 효과음이 재생되게 하되 아이템마다 다른 효과음이 재생되었으면 좋겠습니다.

예) 방패 아이템을 획득하면 철이 부딪치는 소리가 재생되고 생명 아이템을 획득하면 띠리링 소리가 재생

[2018-04-12 05:32] BeautifulTommorow opened #387 "음소거 기능추가"
전체 사운드를 끄거나 켤수 있는 항목이 있어서 사운드를 키거나 끌 수 있었으면 좋겠습니다.

[2018-04-12 05:36] habby9000 opened #388 "blink when the ship is invincible(Get hit)"
ship blinks when it is invincible

[2018-04-12 05:36] habby9000 commented on #388
i solved it

[2018-04-12 05:39] habby9000 commented on #388
resolved #389

[2018-04-12 10:10] Aricsa commented on #387
Take it

[2018-04-12 10:53] Aricsa opened #393 "초시계 중첩버그"
빠른 배속(w)을 여러번 누른 상태에서 초시계를 중첩해서 먹으면
더이상 초시계의 효과가 사라지지 않습니다

정확히는 초시계 하나를 먹고 다른 하나를 지속시간이 끝나기 전에 먹으면
초시계의 효과가 두번 사라지는게 아니라 한번만 사라집니다.

[2018-04-12 11:13] Aricsa commented on #387
Do you mean whole sound is a bgm?

[2018-04-12 11:42] BeautifulTommorow commented on #387
@Aricsa  yes.

[2018-04-12 20:26] onnoo commented on #386
I take it

[2018-04-13 01:41] Taewan-P commented on #388
머지 되면 닫아주세요...ㅠ

[2018-04-13 06:52] Ktw11 opened #396 "현재 Indentation error 발생, 이를 수정하기"
현재 코드 실행시 Indentation error가 발생하여
실행이 불가능한 상태입니다

[2018-04-13 07:09] #396 closed

[2018-04-13 07:57] Ktw11 opened #398 "게임 속도를 조절하는 기능에 한계 설정하기"
현재 게임속도를 조절하는 기능이 한계가 설정되어 있지 않아,
극단적으로 빠르거나 느리게 게임 진행이 가능합니다.

이를 해결하기 위해 게임속도 조절하는 기능에 한계를 설정했으면 좋겠습니다.

[2018-04-13 07:59] hoonski commented on #398
I take it

[2018-04-13 08:40] hoonski commented on #398
I solve it.

[2018-04-13 08:42] hoonski opened #399 "난이도 선택하는 화면에서 메뉴로 가는 버튼 만들기"
메인메뉴로 가는 버튼이 없어서 계속 껏다 켜야합니다

[2018-04-13 08:42] Ktw11 commented on #399
I take it

[2018-04-13 09:33] onnoo commented on #393
I take it

[2018-04-13 10:30] hoonski commented on #393
I solve it.

[2018-04-13 12:27] #399 closed

[2018-04-13 13:03] #70 closed

[2018-04-13 13:04] #386 closed

[2018-04-13 13:09] #388 closed

[2018-04-13 13:16] inureyes commented on #79
지금 탭버튼 누르면 총알 타입이 바뀌는걸로 알고 있습니다. 그 부분도 아이템 먹고 바뀌게 가면 좋을듯 하네요.

[2018-04-13 13:31] inureyes commented on #300
그럼 이제 이미지들을 슬슬 적용해 볼까요? :)

[2018-04-13 13:37] Alpacadabra commented on #293
galtron-stage 사운드가 삭제됨에 따라 더이상 진행할 필요가 없어졌습니다.

[2018-04-13 13:37] #293 closed

[2018-04-13 13:39] inureyes commented on #293
@Alpacadabra 스테이지 사운드가 안나오는게 버그 아니었나요?

[2018-04-13 13:47] Alpacadabra commented on #293
@inureyes 타이틀로 돌아가도 스테이지 bgm이 계속해서 진행되는 것이 버그였습니다.
다만 #283 에서 StillnessFate 님이 스테이지 bgm을 게임에서 제외한 것으로 알고있고 그래서 issue를 close하게 되었습니다.

[2018-04-13 14:58] moonkihun commented on #371
i will take it

[2018-04-13 15:03] moonkihun commented on #371
확인해보니 둘의 사운드가 다르긴하지만 적 기체 폭발의 소리가 작아서 잘 안들린것 같습니다. 폭발의 소리를 올리는 것으로 수정완료했습니다.

[2018-04-13 15:27] onnoo commented on #361
I take it.

[2018-04-13 15:58] taaeyoon opened #406 "setting에서 speed설정시 back이 안되는 버그, 음량조절"
잘 되지 않네요

[2018-04-13 16:01] moonkihun commented on #406
I will take it

[2018-04-13 16:15] Aricsa opened #407 "차지샷 다단히트 & 보스 체력 조정"
1. 속도를 느리게 하고 플레이하다 보면 차지샷이 보스를 맞추면서 지나갈 때
엄청난 데미지를 줍니다. 이게 게임의 밸런스를 파괴한다고 생각해서
차지 샷이 적들을 때릴 때 한대만 때리면 좋을 거 같습니다.

2. 그와 동시에 보스의 체력을 조정해야한다고 생각합니다. 레벨이 점점 높아지다보면 차지샷으로도
죽이기가 힘듭니다.

[2018-04-13 17:08] Alpacadabra commented on #371
@moonkihun 제가 잘못봤나 해서 코드를 전부 다시 훑어봤습니다만, 아무리 봐도 적 기체가 피격당할 때의 사운드와 폭발할 때의 사운드는 근본적으로 동일합니다. 그리고 애초에 적 기체의 피격 사운드 파일은 존재하지 않습니다.
어느 부분에서 둘의 사운드가 다르다는걸 확인하신 건가요?

[2018-04-14 02:30] BeautifulTommorow commented on #385
I ll take it

[2018-04-14 02:53] BeautifulTommorow commented on #407
i'll take it

[2018-04-14 06:01] MoonJeWoong commented on #345
i'll take it

[2018-04-14 07:11] Ramenseller commented on #407
I'll take it

[2018-04-14 07:15] Ramenseller opened #409 "보스전 난이도 조정"
보스전의 난이도가 너무 높습니다.
보스의 공격 난이도를 조금 낮추고,
보스전에서 하늘에서 아이템이 떨어지거나,
보스가 alien을 생성하게 만들어 아이템을 획득할 수 있게 하면 좋을 것 같습니다.

[2018-04-14 07:43] Ramenseller opened #410 "retry시 bullet 버그"
Game을 RETRY하면 총알이 잘 안나가는 버그가 있습니다.
처음 게임을 시작하면 스페이스바를 꾹 누르면 총알이 연속적으로 나가는데
retry를 하면 총알이 연속적으로 나가지 않습니다.
이를 해결해주세요

[2018-04-14 13:07] moonkihun opened #414 "sound를 조절 할 수 있으면 좋겠습니다."
효과음,배경음등을 각각 조절할 수 있으면 좋겠습니다

[2018-04-14 13:15] moonkihun commented on #371
아 제가 문제를 잘못 봤네요 다시해서 올리겠습니다.

[2018-04-14 16:44] StillnessFate commented on #410
지금 테스트를 해보았는데 정상적으로 작동하는 걸로 보입니다. 아직도 문제가 발생하나요?

[2018-04-14 18:06] Ramenseller commented on #410
잘 되네요
이슈 내리겠습니다.

[2018-04-15 06:00] Alpacadabra commented on #371
[sounds.zip](https://github.com/inureyes/Galtron/files/1911712/sounds.zip)
이슈 해결과 관련하여 적당한 샘플 4개를 압축하여 올립니다. 라이선스도 포함되어 있습니다.
샘플을 그대로 사용하셔도 좋고, 다른 사운드를 원하시면 직접 찾아 사용하셔도 좋습니다.
이미 작동 확인도 끝난 파일들입니다. 볼륨과 이름만 변경하여 사용하시면 됩니다.
기존 라이선스를 수정하는 것도 잊지마세요.

오늘 오후 10시 안에 이 이슈가 해결되지 않을 경우 제가 직접 해결하겠습니다.
@moonkihun

[2018-04-15 08:04] #410 closed

[2018-04-15 10:39] TideProphet opened #420 "적 둔화 아이템 이미지 변경"
현재 적을 둔화시키는 아이템의 아이콘은 서비스 중인 온라인게임 '리그오브레전드'의 '초시계'라는 아이템의 아이콘을 그대로 가져다 쓴 이미지입니다.
당연히 이는 저작권에 위배됩니다. 교체가 필요합니다.

* 적을 둔화시키는 아이템의 아이콘 변경

[2018-04-15 11:25] moonkihun commented on #420
item_time.png이거 말하시는 건가요?

[2018-04-15 11:37] hy-kiera commented on #420
제가 방금 확인해봤는데 바뀌어 있어요

[2018-04-15 11:37] #420 closed

[2018-04-15 12:06] bean3 commented on #406
i will take it

[2018-04-15 12:09] #348 closed

[2018-04-15 12:59] StillnessFate commented on #337
#423

[2018-04-15 13:02] StillnessFate opened #424 "게임 오버 화면에서 일시정지 키를 이용해 계속 진행할 수 있는 버그"
게임오버가 된 상태에서 일시정지 키를 누른 뒤 선택키를 눌러 강제로 게임을 활성화시키고, 계속 이어서 할 수 있는 버그가 있음. (기록 유지)

[2018-04-15 13:02] dudu0166 opened #425 "아이템 드랍률을 난이도별로 조절했으면 좋겠습니다."
아이템 드랍률을 난이도별로 조절했으면 좋겠습니다.
또한 아이템이 너무 자주 나오는 것 같습니다. 확률 조정이 필요할 것 같습니다.

- [ ] 아이템 드랍률 난이도별 조절
- [ ] 전반적인 아이템 확률 조정

[2018-04-15 13:04] StillnessFate commented on #424
#426

[2018-04-15 13:09] bean3 commented on #425
i will take it

[2018-04-15 13:11] #424 closed

[2018-04-15 13:34] #345 closed

[2018-04-15 13:34] #387 closed

[2018-04-15 13:36] #371 closed

[2018-04-15 13:37] #346 closed

[2018-04-15 18:03] Alpacadabra opened #430 "Bullet 그래픽 변경"
현재 Bullet 그래픽은 상당히 퀄리티가 떨어집니다.
Bullet을 멋지게 바꿔봅시다.

[2018-04-15 18:03] Alpacadabra commented on #430
이 issue는 제가 진행합니다.

[2018-04-16 03:57] TideProphet opened #432 "Retry 시 차지샷이 남아있는 버그"
게임오버 직전에 차지샷을 쏘고 재시도를 누를시 죽기전에 쏜 차지샷이 발사되던 상태 그대로 남아 재시도 시작과 동시에 다시 움직이기 시작합니다.

* 게임오버 후 재시도를 할 시 차지샷이 그대로 남아있는 버그 해결

[2018-04-16 04:27] TideProphet opened #433 "요격 기능의 적용범위 조정"
현재 요격기능을 사용시 차지샷(대)과 궁극기에도 요격기능이 적용됩니다.
궁극기와 차지샷(대)의 경우 상대방에게 큰 타격을 주기위해 사용하는데 일반총알과 똑같이 적 총알 하나와 교환하여 사라지는 것은 문제가 있습니다.

* C키를 사용하여 요격기능을  활성화해도 기능이 궁극기와 차지샷에 적용되지 않도록 변경

[2018-04-16 04:36] TideProphet opened #434 "속도관련 아이템이 중첩되지 않도록 변경"
현재 적을 느려지게 만드는 아이템이나 스피드아이템을 획득 시 그대로 중첩 연산값이 적용되는 현상이 발생합니다.
스피드 아이템의 경우 플레이어를 방해하는 수준이며, 둔화아이템의 경우 컴퓨터에 부하를 줍니다.
따라서 이 두 아이템이 적용되는 도중 추가로 아이템을 획득할 시 중첩연산이 되는 것이 아니라 지속시간만 초기화 되도록 변경해야 합니다.

* 스피드아이템과 적 둔화아이템을 여러개 먹을 시 중첩되는게 아니라 지속시간만 초기화되도록 변경

[2018-04-16 05:07] Ramenseller commented on #432
I'll take it

[2018-04-16 07:27] Ochodus commented on #434
I'll take it

[2018-04-16 07:38] Ochodus commented on #385
i will take it

[2018-04-16 12:46] jil8885 commented on #409
I will take it

[2018-04-17 02:03] hy-kiera opened #440 "Shield가 pause일때도 계속 동작"
Shield가 pause를 누르면 shield 지속시간도 멈춰야하는데 계속 흘러가 shield가 사라집니다. Pause 상태일때 shield도 멈춰야 합니다

[2018-04-17 14:56] SonMinWoo opened #442 "charge 게이지, ultimate 게이지 밑 라이프 글씨 추가"
처음 게임을 접하는 사람들은 위 2개의 게이지가 무엇을 의미하는지 알기 힘듭니다.
따라서 게이지가 나타내는 것을 글로 적었습니다.
또한 기체의 색을 어둡게 했을경우 Life가 잘 보이지 않을 수도 있어 Life의 바로 밑에 LLife 글씨를 적었습니다.

[2018-04-17 14:56] SonMinWoo commented on #442
제가 수정하였습니다.

[2018-04-17 16:01] Taewan-P opened #444 "README.md 파일 수정"
누군가 자신의 컨플릭트를 수정 하는 과정에서 README.md 파일의 문법을 올바르게 처리하지 않아 지금 표가 제대로 나오고 있지 않습니다. 마크다운 문법에 맞게끔 README.md 파일을 수정해야 합니다.

[2018-04-17 16:13] Taewan-P commented on #444
제가 수정하도록 하겠습니다.

[2018-04-18 05:12] #430 closed

[2018-04-18 05:16] #434 closed

[2018-04-18 05:30] #432 closed

[2018-04-18 05:32] #444 closed

[2018-04-18 05:56] #393 closed

[2018-04-18 12:22] StillnessFate opened #448 "upstream에 잘못된 코드가 병합됨"
@jaeheeLee17 현재 의미 없는 중복된 코드들과 버그가 들어있는 커밋(23d39c5)이 upstream에 병합되어 게임이 실행조차 되지 않고 있습니다. 이전 버전(ba2d3e9)으로 되돌릴 필요가 있습니다.

[2018-04-18 12:35] StillnessFate commented on #448
위 기여자는 이전부터 계속해서 upstream에 직접 push를 하고 있는 것 같습니다...
c682e59, 0c87bdf, a43b334, 45f2c2f, 5dc3e8a

[2018-04-18 16:42] StillnessFate commented on #448
#450 Revert 하였습니다.

[2018-04-19 02:07] #448 closed

[2018-04-19 02:09] inureyes commented on #442
@SonMinWoo 이 부분의 커밋만 따로 떼서 풀리퀘스트를 넣어주세요. :)

[2018-04-19 15:35] Taewan-P opened #453 "마우스를 이용해서 게임을 시작할때 비정상적으로 종료됨"
마우스를 이용해서 게임을 시작할때 비정상적으로 종료됩니다.
buttonAction(stats, mouseBtnName, setting, screen, ship, aliens, bullets, eBullets)
TypeError: buttonAction() missing 1 required positional argument: 'charged_bullets'
라는 에러 메시지가 뜨고 비정상적으로 게임이 종료됩니다.

[2018-04-19 16:12] hy-kiera commented on #453
charged_bullets라는 인자가 buttonAction()함수에 필요한데 위에는 그 인자가 없어서 TypeError가 뜬거 같아요. 간단하게 charged_bullets 인자를 추가해주면 되지 않을까요?

[2018-04-19 16:14] Taewan-P commented on #453
@hy-kiera #452를 참고해 주세요 ㅎㅎ

[2018-04-19 16:17] hy-kiera commented on #453
@Taewan-P #452 아직 머지가 안됐네요.

[2018-04-20 02:42] Choihaeun opened #455 "아이템 이미지 수정"
아이템 이미지를 일관성있게 수정할 필요가 있을 것 같습니다.

[2018-04-20 15:39] moonkihun opened #458 "bgm"
bgm중 몇개가 겹치는 게 있습니다. 또 몇개는 수정하는 게 좋을 것 같습니다

[2018-04-20 15:40] moonkihun commented on #458
제가 하겠습니다

[2018-04-21 01:12] habby9000 opened #460 "ult gauge fill item"
ult gauge fill

[2018-04-21 01:12] habby9000 commented on #460
i solved it

[2018-04-21 03:34] inureyes commented on #460
@habby9000 More description needed. Update title and content of this issue.

[2018-04-21 03:35] inureyes commented on #458
@moonkihun Title and content should be revised. It contains no specific information.

[2018-04-24 02:51] inureyes opened #463 "Release process (1.0)"
* This issue discusses release process (1.0)

[2018-04-24 11:26] #453 closed

[2018-04-24 11:37] #66 closed

[2018-04-24 11:40] #81 closed

[2018-04-24 11:42] Taewan-P commented on #86
#368

[2018-04-24 11:42] #86 closed

[2018-04-24 11:48] Taewan-P commented on #92
@habby9000 설명히 자세하지가 않은데... 혹시 원하는 기능이 지금 추가되어 있나요?

[2018-04-24 11:51] Taewan-P commented on #96
taaeyoon님 collaborator 로 등록이 안되있어서 Assignee 지정이 안되네요.
일딴 해결되었으므로 닫겠습니다.

[2018-04-24 11:51] #96 closed

[2018-04-24 11:52] #99 closed

[2018-04-24 11:53] #102 closed

[2018-04-24 11:54] #111 closed

[2018-04-24 11:58] Taewan-P commented on #112
#287 @SonMinWoo 지금 인트로 영상 나오나요??? 현재 3대의 컴퓨터에서 실험해봤는데 인트로 영상이 안떠요....

[2018-04-24 11:59] #117 closed

[2018-04-24 12:03] Taewan-P commented on #119
#285 로 인해 해결됬다고 판단하여 닫겠습니다.

[2018-04-24 12:03] #119 closed

[2018-04-24 12:04] #123 closed

[2018-04-24 12:08] Taewan-P commented on #127
현재 적을 죽이면 일정 확률로 목숨 아이템이 드랍됩니다. 따라서 이슈를 닫겠습니다...

[2018-04-24 12:08] #127 closed

[2018-04-24 12:09] #131 closed

[2018-04-24 12:11] Alpacadabra commented on #369
기존 score를 pull request #384 의 score로 변경하였습니다.

[2018-04-24 12:15] Taewan-P commented on #133
#408

[2018-04-24 12:17] #143 closed

[2018-04-24 12:20] Taewan-P opened #464 "점수가 소숫점으로 나타나는 현상"
![image](https://user-images.githubusercontent.com/27392567/39186387-3992cdac-4805-11e8-9555-c718005d0d25.png)

적은 점수를 획득하였을때 위 사진과 같이 소숫점으로 점수가 표기됩니다. 이를 수정할 필요가 있어 보입니다.
+ 소숫점으로 뜨는건 w키 옵션으로 속도를 증가시켰을 시에 일어나는 현상입니다.

[2018-04-24 12:25] Taewan-P commented on #182
누가 해결하겠다고 한적은 없으나 오류가 해결되었으므로 닫겠습니다.

[2018-04-24 12:25] #182 closed

[2018-04-24 12:25] #183 closed

[2018-04-24 12:50] PrismSpirit commented on #464
I'll take it.

[2018-04-24 13:46] hy-kiera commented on #74
잘못 assign된 줄 알고 지웠네요. 다시 assign 했습니다.

[2018-04-24 14:19] SonMinWoo commented on #112
@Taewan-P

제 컴퓨터에선 나오는데 특정 환경에서는 안나오나보네요..

[2018-04-25 08:55] inureyes commented on #463
I added maintainers to Assignnee list. Please check the [notice post](https://erica.codeonweb.com/entry/0b63392c-d2fa-4144-9ceb-d18763589a95).

[2018-04-25 08:56] #464 closed

[2018-04-25 08:58] #442 closed

[2018-04-25 08:59] #337 closed

[2018-04-25 13:44] #310 closed

[2018-04-25 13:49] #398 closed

[2018-04-25 13:55] #288 closed

[2018-04-25 14:02] Alpacadabra commented on #114
현재 아이템의 드랍 메커니즘이나 쉴드 아이템을 생각해보면 조금 맞지않고, 불필요하다는 생각이 듭니다. 한번 생각해보시고, 구현할 필요가 없다고 생각되시면 issue를 닫아주세요. 감사합니다.

[2018-04-26 00:34] StillnessFate opened #466 "아이템 이미지의 속성에 따른 인식 오류"
현재 아이템이미지 파일(*.png)의 ICC profile이 sRGB로 되어 있어, pygame 내부에서 사용되는 libpng라이브러리에서 profile경고가 발생합니다.

[2018-04-26 02:29] Taewan-P commented on #463
닫힌 이슈들의 Milestone을 모두 1.0으로 변경하였습니다.

[2018-04-26 02:50] PrismSpirit opened #467 "남아있는 체력 수에 따라 Life의 위치가 변하는 오류"
![2018-04-26 11 47 07](https://user-images.githubusercontent.com/27756800/39283120-a33bad6c-4947-11e8-8023-c88f15434b30.png)

현재 체력 수에 따라 글씨의 위치가 변해서 남아있는 체력이 0일때 Life가 화면 밖으로 벗어납니다

[2018-04-26 04:36] Alpacadabra commented on #463
몇 가지 질문을 드립니다.
1. Pull request 하나에 여러 issue들이 해당되어 있는 경우 어떻게 배점을 해야하나요?
2. Pull request 에 해당하는 issue가 없을 경우 어떻게 배점을 해야하나요?
3. Pull request 에 점수가 누락되어 있을 경우 어떻게 배점을 해야하나요?
4. 한 Issue 를 여러 학생이 해결했을 경우 Assignee에 여러 명을 설정해도 되나요?
5. Assignee 를 설정할 수 없는 경우 (목록에 나오지 않음) 어떻게 해결해야 하나요?

[2018-04-26 10:51] StillnessFate commented on #466
또한 pygame에서 사용하는 구버전 libpng라이브러리의 자체적인 버그로, 이미지의 처리 방식이나 포함된 information에 따라 경고가 발생합니다. (알려진 이슈)

[2018-04-26 11:02] StillnessFate commented on #466
#468

[2018-04-26 14:44] StillnessFate commented on #406
#413

[2022-02-19 10:29] #311 closed

[2022-07-24 06:16] #463 closed